NiFi_Flow.json
{"flowContents":{"identifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb","instanceIdentifier":"089c973f-0191-1000-0b5c-c930c60b5e96","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"10880d17-8fbf-3adf-809f-c24eae513b2d","instanceIdentifier":"12b8d395-0191-1000-86fe-774a53a9e669","name":"Vector_Embeddings_Ingestion","comments":"","position":{"x":888.0,"y":120.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"641241b5-18f9-3dfb-a27e-d642a52c1db2","instanceIdentifier":"01911003-4157-1288-9b92-648d0856b8ef","name":"ChunkDocument","comments":"","position":{"x":-720.0,"y":224.0},"type":"python.ChunkDocument","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0.dev0"},"properties":{"Separator Format":"Plain Text","Chunk Overlap":"100","Keep Separator":"false","Language":"python","Chunk Size":"1000","Chunking Strategy":"Recursively Split by Character","Separator":"\\n\\n,\\n, ,","Strip Whitespace":"true"},"propertyDescriptors":{"Separator Format":{"name":"Separator Format","displayName":"Separator Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Overlap":{"name":"Chunk Overlap","displayName":"Chunk Overlap","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Separator":{"name":"Keep Separator","displayName":"Keep Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Language":{"name":"Language","displayName":"Language","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunking Strategy":{"name":"Chunking Strategy","displayName":"Chunking Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Separator":{"name":"Separator","displayName":"Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strip Whitespace":{"name":"Strip Whitespace","displayName":"Strip Whitespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"5864e569-7862-33dc-b360-fa9ddab1871b","instanceIdentifier":"01911030-c203-1233-df64-76fc14ca1ddc","name":"UpdateAttribute","comments":"","position":{"x":-216.0,"y":-320.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M4"},"properties":{"Delete Attributes Expression":null,"filename":"${metadata.source:replaceAll('https://', ''):replaceAll('www.', ''):replaceAll('/', '_'):replaceAll('[^a-zA-Z0-9_]', '_')}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"2bd1eb60-250b-3f05-bc36-57469a55aebd","instanceIdentifier":"01911002-4157-1288-375d-d731708c0dda","name":"Trigger SpiderCloud","comments":"","position":{"x":-704.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"99d93c24-aeec-377a-81cc-ebd3650da5da","instanceIdentifier":"23084077-0191-1000-c4d2-345ae739796e","name":"MergeContent","comments":"","position":{"x":24.0,"y":224.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"bca11028-6cce-3738-b356-06a30836d22c","instanceIdentifier":"01911001-4157-1288-5bd6-c49439d09808","name":"SpiderCloudCrawler","comments":"","position":{"x":-704.0,"y":-256.0},"type":"python.SpiderCloudCrawler","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0.dev0"},"properties":{"Return Format":"markdown","API Key":"sk-cdf9c70c-277d-4499-952e-53d078ddba89","Crawl Depth":"3","Limit":"40","URL":"https://orthlane.com/"},"propertyDescriptors":{"Return Format":{"name":"Return Format","displayName":"Return Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"API Key":{"name":"API Key","displayName":"API Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Crawl Depth":{"name":"Crawl Depth","displayName":"Crawl Depth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Limit":{"name":"Limit","displayName":"Limit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"b9222b77-354b-3c1b-a67f-83bd6568c473","instanceIdentifier":"1f0ed03d-0191-1000-152e-9a4a4e3d6f29","name":"PutPineconeVectorEmbedding","comments":"","position":{"x":48.0,"y":-160.0},"type":"python.PutPineconeVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0.dev0"},"properties":{},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"41601e91-2844-38df-9f5a-45c3084b40d3","instanceIdentifier":"1f3bbbf2-0191-1000-aea9-ce731a3ebf7a","name":"GetVectorEmbedding","comments":"","position":{"x":48.0,"y":32.0},"type":"python.GetVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0.dev0"},"properties":{"OpenAI Embedding Models":"text-embedding-ada-002","AzureOpenAI Version":"2024-05-01-preview","Chunk Size":"1000","AzureOpenAI Endpoint":"https://othai.openai.azure.com/"},"propertyDescriptors":{"OpenAI Embedding Models":{"name":"OpenAI Embedding Models","displayName":"OpenAI Embedding Models","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI Version":{"name":"AzureOpenAI Version","displayName":"AzureOpenAI Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI API Key":{"name":"AzureOpenAI API Key","displayName":"AzureOpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI Endpoint":{"name":"AzureOpenAI Endpoint","displayName":"AzureOpenAI Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"ad7cd668-d535-3c47-b92a-9a608e4d16a9","instanceIdentifier":"140be8d3-0191-1000-4e41-91c89c5bce1b","name":"SplitJson","comments":"","position":{"x":-704.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]\""},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"inputPorts":[],"outputPorts":[{"identifier":"76e220d4-e828-30b1-97d6-077695b9356c","instanceIdentifier":"2233c203-0191-1000-f7bc-a42274ef50a8","name":"PineconeStore","position":{"x":576.0,"y":-120.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"connections":[{"identifier":"f592780f-9825-3614-a201-aa173c5a43e2","instanceIdentifier":"23090f66-0191-1000-df3b-25e68070c0b4","name":"","source":{"id":"641241b5-18f9-3dfb-a27e-d642a52c1db2","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"ChunkDocument","comments":"","instanceIdentifier":"01911003-4157-1288-9b92-648d0856b8ef"},"destination":{"id":"99d93c24-aeec-377a-81cc-ebd3650da5da","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"MergeContent","comments":"","instanceIdentifier":"23084077-0191-1000-c4d2-345ae739796e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"234fb0b9-4334-32d5-9ce7-1f2248fd595f","instanceIdentifier":"2309967a-0191-1000-e360-78ffff3db4c9","name":"","source":{"id":"41601e91-2844-38df-9f5a-45c3084b40d3","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"GetVectorEmbedding","comments":"","instanceIdentifier":"1f3bbbf2-0191-1000-aea9-ce731a3ebf7a"},"destination":{"id":"b9222b77-354b-3c1b-a67f-83bd6568c473","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"PutPineconeVectorEmbedding","comments":"","instanceIdentifier":"1f0ed03d-0191-1000-152e-9a4a4e3d6f29"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-26.0,"y":0.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"3b3a1132-d7ca-3e9a-a23a-d2fc7379d215","instanceIdentifier":"01911006-4157-1288-9e6e-49937ba126bf","name":"","source":{"id":"2bd1eb60-250b-3f05-bc36-57469a55aebd","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Trigger SpiderCloud","comments":"","instanceIdentifier":"01911002-4157-1288-375d-d731708c0dda"},"destination":{"id":"bca11028-6cce-3738-b356-06a30836d22c","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"SpiderCloudCrawler","comments":"","instanceIdentifier":"01911001-4157-1288-5bd6-c49439d09808"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"cf9f3943-80fc-3394-bc47-49023652f80c","instanceIdentifier":"140f428e-0191-1000-8cb3-2a7bb58854a2","name":"","source":{"id":"ad7cd668-d535-3c47-b92a-9a608e4d16a9","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"SplitJson","comments":"","instanceIdentifier":"140be8d3-0191-1000-4e41-91c89c5bce1b"},"destination":{"id":"641241b5-18f9-3dfb-a27e-d642a52c1db2","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"ChunkDocument","comments":"","instanceIdentifier":"01911003-4157-1288-9b92-648d0856b8ef"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"2f59ad6b-50ed-3c79-8835-63488932e30b","instanceIdentifier":"01911033-c203-1233-9b35-ba4e7b08c1e6","name":"","source":{"id":"5864e569-7862-33dc-b360-fa9ddab1871b","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"UpdateAttribute","comments":"","instanceIdentifier":"01911030-c203-1233-df64-76fc14ca1ddc"},"destination":{"id":"203a5038-3271-3d09-8320-5ebb62316425","type":"FUNNEL","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Funnel","comments":"","instanceIdentifier":"01911032-c203-1233-c1e7-79929b67cf19"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"f008dd53-c322-3b6e-8bc2-4ba816986996","instanceIdentifier":"01911037-c203-1233-b825-b1c153f8d513","name":"","source":{"id":"641241b5-18f9-3dfb-a27e-d642a52c1db2","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"ChunkDocument","comments":"","instanceIdentifier":"01911003-4157-1288-9b92-648d0856b8ef"},"destination":{"id":"f38307b7-b77e-3948-b41a-65d4311a8442","type":"FUNNEL","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Funnel","comments":"","instanceIdentifier":"01911036-c203-1233-206a-e9576c8bb5b1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"25cc749f-1c35-3f2a-81aa-1a13a04c3ca9","instanceIdentifier":"140e5b2e-0191-1000-3ecc-403aa42bc16c","name":"","source":{"id":"bca11028-6cce-3738-b356-06a30836d22c","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"SpiderCloudCrawler","comments":"","instanceIdentifier":"01911001-4157-1288-5bd6-c49439d09808"},"destination":{"id":"ad7cd668-d535-3c47-b92a-9a608e4d16a9","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"SplitJson","comments":"","instanceIdentifier":"140be8d3-0191-1000-4e41-91c89c5bce1b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"f8be315f-5d84-3fb7-b249-a20d69e9a699","instanceIdentifier":"140f9f25-0191-1000-0ec4-e986dfe97d8f","name":"","source":{"id":"641241b5-18f9-3dfb-a27e-d642a52c1db2","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"ChunkDocument","comments":"","instanceIdentifier":"01911003-4157-1288-9b92-648d0856b8ef"},"destination":{"id":"d233bc0c-d070-3377-b123-1f3a2e6e7795","type":"FUNNEL","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Funnel","comments":"","instanceIdentifier":"140c045d-0191-1000-f1c5-a2110d7083d7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"2bc53b9a-9d9b-3758-a6c2-0f50a7a5bff2","instanceIdentifier":"01911031-c203-1233-056d-9c549f691f65","name":"","source":{"id":"ad7cd668-d535-3c47-b92a-9a608e4d16a9","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"SplitJson","comments":"","instanceIdentifier":"140be8d3-0191-1000-4e41-91c89c5bce1b"},"destination":{"id":"5864e569-7862-33dc-b360-fa9ddab1871b","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"UpdateAttribute","comments":"","instanceIdentifier":"01911030-c203-1233-df64-76fc14ca1ddc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"51dac6c8-c62f-3b2f-8530-8a9c0edc5adf","instanceIdentifier":"23093074-0191-1000-d2f2-78623cf6ae70","name":"","source":{"id":"99d93c24-aeec-377a-81cc-ebd3650da5da","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"MergeContent","comments":"","instanceIdentifier":"23084077-0191-1000-c4d2-345ae739796e"},"destination":{"id":"41601e91-2844-38df-9f5a-45c3084b40d3","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"GetVectorEmbedding","comments":"","instanceIdentifier":"1f3bbbf2-0191-1000-aea9-ce731a3ebf7a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"d3f82bcf-5f52-34ee-a904-4c369a34052d","instanceIdentifier":"23095514-0191-1000-cdc9-a57064c8a03c","name":"","source":{"id":"99d93c24-aeec-377a-81cc-ebd3650da5da","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"MergeContent","comments":"","instanceIdentifier":"23084077-0191-1000-c4d2-345ae739796e"},"destination":{"id":"1a20cbed-d6b9-350d-a2c5-bf433e2f0253","type":"FUNNEL","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Funnel","comments":"","instanceIdentifier":"230942b1-0191-1000-928b-91506e29536c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"d30792ab-2a02-389d-9b6a-acb1f65d0386","instanceIdentifier":"0191102a-c203-1233-16c4-39bf2671c67a","name":"","source":{"id":"41601e91-2844-38df-9f5a-45c3084b40d3","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"GetVectorEmbedding","comments":"","instanceIdentifier":"1f3bbbf2-0191-1000-aea9-ce731a3ebf7a"},"destination":{"id":"b9222b77-354b-3c1b-a67f-83bd6568c473","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"PutPineconeVectorEmbedding","comments":"","instanceIdentifier":"1f0ed03d-0191-1000-152e-9a4a4e3d6f29"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"labels":[],"funnels":[{"identifier":"203a5038-3271-3d09-8320-5ebb62316425","instanceIdentifier":"01911032-c203-1233-c1e7-79929b67cf19","position":{"x":400.0,"y":-344.0},"componentType":"FUNNEL","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"d233bc0c-d070-3377-b123-1f3a2e6e7795","instanceIdentifier":"140c045d-0191-1000-f1c5-a2110d7083d7","position":{"x":-168.0,"y":88.0},"componentType":"FUNNEL","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"f38307b7-b77e-3948-b41a-65d4311a8442","instanceIdentifier":"01911036-c203-1233-206a-e9576c8bb5b1","position":{"x":-1008.0,"y":256.0},"componentType":"FUNNEL","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"1a20cbed-d6b9-350d-a2c5-bf433e2f0253","instanceIdentifier":"230942b1-0191-1000-928b-91506e29536c","position":{"x":640.0,"y":280.0},"componentType":"FUNNEL","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb"},{"identifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d","instanceIdentifier":"22fd4d9d-0191-1000-9dc0-f8e3e0a08b59","name":"Test","comments":"","position":{"x":657.1384880615813,"y":-204.7509181339887},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fedc9b70-8172-31c4-8121-fa21f058e4b1","instanceIdentifier":"231641ac-0191-1000-aaa4-95b47a42cf0f","name":"JoltTransformJSON","comments":"","position":{"x":336.0,"y":-288.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0-M4"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"2","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"@\": \"[&1]\"\n      }\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"},{"identifier":"3b7abb92-0eb6-32a5-9d93-3ce50ee94d65","instanceIdentifier":"231ea6b7-0191-1000-62a5-cbd31c239b6f","name":"SplitText","comments":"","position":{"x":-312.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"},{"identifier":"b8b24a3e-64e0-39e0-a078-8973660bfee5","instanceIdentifier":"22fd6936-0191-1000-c46c-efbe090be656","name":"GenerateFlowFile","comments":"","position":{"x":-320.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\"text\": \"Prix de nos aligneurs dentaires invisibles | Orthlane\\n\\n[![orthlane](https://orthlane.cdn.prismic.io/orthlane/e2c87251-2087-455d-8eaa-4bd01da7c8da_orthlane.svg)](/)\\n\\n[\\n\\nParcours patient\\n\\n](/parcours-patient)[\\n\\nTarifs\\n\\n](/tarifs)[\\n\\nNos avantages\\n\\n](/nos-avantages)[\\n\\nAvis\\n\\n](/avis)[\\n\\nPour les praticiens\\n\\n](/praticiens-partenaires)\\n\\n[Diagnostic gratuit](/consult)[Prendre RDV](/booking)\\n\\nMenu\\n\\n![Bo\\u00eete d'aligneurs dentaires Orthlane](https://images.prismic.io/orthlane/434e4509-c289-412b-a904-c58e4bc2a122_BR+cmjn.jpg?auto=compress%2Cformat&rect=0%2C0%2C1760%2C1173&w=700&h=450&q=80&crop=faces%2Cedges)\\n\\n# Orthlane, une solution d'alignement dentaire efficace et accessible\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 0, \"chunk_count\": 16}}\n{\"text\": \"# Orthlane, une solution d'alignement dentaire efficace et accessible\\n\\nLe traitement Orthlane alliant s\\u00e9curit\\u00e9, efficacit\\u00e9 et qualit\\u00e9 est accessible \\u00e0 partir de 1590 \\u20ac. Il repr\\u00e9sente une option unique pour pouvoir aligner vos dents et obtenir l'incroyable sourire dont vous avez toujours r\\u00eav\\u00e9 sans suivre un traitement orthodontique classique avec un appareil dentaire constitu\\u00e9 de bagues m\\u00e9talliques.\\n\\n[Je prends rendez-vous](/booking)\\n\\n![Diagnostic gratuit Orthlane sur un t\\u00e9l\\u00e9phone](https://images.prismic.io/orthlane/17c50bd7-e86d-49d3-8ef1-2ffe59cb7fab_e-consultation.png?auto=compress%2Cformat&rect=0%2C0%2C1182%2C890&w=700&h=450&q=80&crop=faces%2Cedges)\\n\\n## Test d'\\u00e9ligibilit\\u00e9 offert\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 1, \"chunk_count\": 16}}\n{\"text\": \"## Test d'\\u00e9ligibilit\\u00e9 offert\\n\\nProfitez de ce test de quelques minutes afin d'obtenir gratuitement un premier diagnostic sur l'\\u00e9tat de votre dentition et de permettre \\u00e0 nos praticiens d'\\u00e9valuer votre \\u00e9ligibilit\\u00e9. Vous n'aurez qu'\\u00e0 r\\u00e9pondre \\u00e0 quelques questions et prendre quelques photos de votre dentition. Cela repr\\u00e9sente la premi\\u00e8re \\u00e9tape de notre traitement d'alignement dentaire. Nos praticiens examineront avec attention vos donn\\u00e9es sous 48 heures. Ainsi, vous obtiendrez, en toute transparence, une premi\\u00e8re \\u00e9valuation de votre situation dentaire.\\n\\n[Je veux sourire](/consult)\\n\\n![Praticien et patiente observant un \\u00e9cran avec un Scan 3D](https://images.prismic.io/orthlane/f82d1a91-f554-452d-95ab-98e25757ea07_image_2021-11-03_233248.png?auto=compress%2Cformat&rect=0%2C0%2C941%2C741&w=700&h=450&q=80&crop=faces%2Cedges)\\n\\n## Profitez d'un examen dentaire complet pour seulement 90 \\u20ac\\u00a0!\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 2, \"chunk_count\": 16}}\n{\"text\": \"## Profitez d'un examen dentaire complet pour seulement 90 \\u20ac\\u00a0!\\n\\nAu cours de la consultation au cabinet d'un dentiste partenaire, ce dernier v\\u00e9rifiera votre sant\\u00e9 bucco-dentaire \\u00e0 travers un examen complet de vos dents. Il r\\u00e9alisera un Scanner 3D de votre dentition et en prendra quelques photographies afin de vous permettre d'\\u00eatre pris en charge de la meilleure des mani\\u00e8res par la suite et de vous pr\\u00e9parer un plan de traitement.\\n\\n[Je prends rendez-vous](/consult)\\n\\n![Plan de traitement visible sur un t\\u00e9l\\u00e9phone](https://images.prismic.io/orthlane/30c92c8a-859c-4f49-af04-e514178dd82d_Plan_traitement_voiture.png?auto=compress%2Cformat&rect=0%2C0%2C591%2C445&w=700&h=450&q=80&crop=faces%2Cedges)\\n\\n## Plan de traitement en 3D offert\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 3, \"chunk_count\": 16}}\n{\"text\": \"## Plan de traitement en 3D offert\\n\\nVotre praticien vous pr\\u00e9sentera le plan de traitement de votre nouveau sourire sous la forme d'une simulation 3D qui vous donnera l'occasion d'observer les diff\\u00e9rents changements qui se produiront au niveau de votre sourire \\u00e0 mesure que le traitement par goutti\\u00e8res dentaires avancera. Ainsi, vous pourrez visualiser le r\\u00e9sultat final de votre alignement dentaire. Le nombre d'aligneurs n\\u00e9cessaires ainsi que la dur\\u00e9e du traitement vous seront \\u00e9galement indiqu\\u00e9s. Si vous \\u00eates satisfait, vous pourrez commander votre traitement et commencer le changement de votre vie.\\n\\n[Je prends rendez-vous](/booking)\\n\\n![Femme tenant une goutti\\u00e8re dentaire transparente Orthlane](https://images.prismic.io/orthlane/7e5e682a-ea79-4e0a-82e3-f60803640414_go_Plan+de+travail+1.png?auto=compress%2Cformat&rect=0%2C0%2C615%2C614&w=700&h=450&q=80&crop=faces%2Cedges)\\n\\n## Goutti\\u00e8res de contention fournies\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 4, \"chunk_count\": 16}}\n{\"text\": \"## Goutti\\u00e8res de contention fournies\\n\\nOrthlane vous offre des aligneurs dentaires de contention que vous devrez porter une fois votre traitement termin\\u00e9 afin de garder votre magnifique sourire pour toute la vie. Vous devrez les porter pendant 22 heures par jour pendant quelques mois \\u00e0 la fin de votre traitement, puis vous les porterez seulement la nuit. Cette \\u00e9tape est primordiale et elle ne doit surtout pas \\u00eatre n\\u00e9glig\\u00e9e. En nous faisant confiance, vous pourrez donc en profiter gratuitement.\\n\\n[Je veux sourire](/consult)\\n\\n## Combien co\\u00fbte le traitement Orthlane ?\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 5, \"chunk_count\": 16}}\n{\"text\": \"Le traitement orthodontique Orthlane repr\\u00e9sente la solution id\\u00e9ale pour lutter contre diff\\u00e9rents types de probl\\u00e8mes dentaires. Il est totalement efficace pour rem\\u00e9dier \\u00e0 toutes les **[malocclusions dentaires](/malocclusion-dentaire)**, de la **[b\\u00e9ance](/beance-dentaire)**, au **[chevauchement](/chevauchement-dentaire)** et **[diast\\u00e8me](/diasteme-dentaire)**, en passant par l'**[articul\\u00e9 invers\\u00e9](/articule-inverse)**, la **[supraclusion](/supraclusion-dentaire)** et l'**[occlusion en bout-\\u00e0-bout](/occlusion-bout-a-bout)**. En effet, le traitement consiste notamment \\u00e0 porter plusieurs s\\u00e9ries d\\u2019aligneurs dentaires selon un calendrier d\\u00e9fini par votre praticien expert afin d\\u2019obtenir un alignement dentaire parfait en l\\u2019espace de quelques mois. Ces goutti\\u00e8res dentaires sont totalement invisibles, amovibles, confortables et permettent de suivre un traitement orthodontique en totale discr\\u00e9tion et s\\u00e9r\\u00e9nit\\u00e9. Le co\\u00fbt total du traitement va d\\u00e9pendre de la gravit\\u00e9 de la **[malocclusion\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 6, \"chunk_count\": 16}}\n{\"text\": \"discr\\u00e9tion et s\\u00e9r\\u00e9nit\\u00e9. Le co\\u00fbt total du traitement va d\\u00e9pendre de la gravit\\u00e9 de la **[malocclusion dentaire](/malocclusion-dentaire)** dont vous souffrez. Ainsi, plus le probl\\u00e8me sera important, plus le prix sera \\u00e9lev\\u00e9. Cependant, nous pratiquons des tarifs totalement justes et nous mettons en place des facilit\\u00e9s de paiement afin de permettre au plus grand nombre de pouvoir arborer un sourire align\\u00e9. Vous b\\u00e9n\\u00e9ficierez d'une garantie de r\\u00e9sultat.\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 7, \"chunk_count\": 16}}\n{\"text\": \"## Tarifs transparents et accessibles\\n\\n###### Dur\\u00e9e\\n###### Jusqu'\\u00e0 3 mois\\n\\n36912\\n\\nTraitement de 3 mois\\n\\n/mois\\\\*\\n\\n##### \\u20ac Comptant\\nPlus de d\\u00e9tails\\n\\n###### R\\u00e9sultat garanti\\n###### Suivi au cabinet\\n###### Application Orthlane\\n###### Entreprise fran\\u00e7aise\\n\\n\\\\*Paiement \\u00e9chelonn\\u00e9 soumis \\u00e0 l'acceptation d'un organisme de financement. Le taux est bas\\u00e9 sur un TAEG de 13,99% pour une p\\u00e9riode de paiement de 84 mois. Paiement mensuel de 29 \\u20ac. Par exemple pour un paiement sur une p\\u00e9riode de 84 mois, un prix comptant de 1 590 \\u20ac donne un prix total de 2052 \\u20ac TVA comprise.\\n\\n[Je prends rendez-vous](https://www.orthlane.com/booking)\\n\\n## FAQ\\n\\n#### Qu'est-ce que la solution d'alignement dentaire Orthlane ?\\n\\nOrthlane est une solution d\\u2019orthodontie invisible par aligneurs transparents. Le traitement orthodontique Orthlane est prescrit et supervis\\u00e9 par un praticien expert. Chaque plan de traitement est personnalis\\u00e9. En moyenne, le traitement dure approximativement 6 mois.\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 8, \"chunk_count\": 16}}\n{\"text\": \"#### Combien co\\u00fbte la premi\\u00e8re visite au cabinet ?\\n\\nLa premi\\u00e8re visite en cabinet chez un praticien Orthlane co\\u00fbte 90 \\u20ac hors radio panoramique. Lors de cette visite, votre praticien s'assurera de votre \\u00e9ligibilit\\u00e9 au traitement Orthlane. Il proc\\u00e8dera \\u00e0 un examen dentaire complet. Cet examen inclut une radio panoramique et un scanner 3D ou une empreinte dentaire.\\n\\n#### Quel est le prix du traitement orthodontique Orthlane ?\\n\\nLe prix du traitement Orthlane commence \\u00e0 partir de 1590 \\u20ac. Ce prix comprend une s\\u00e9rie compl\\u00e8te de goutti\\u00e8res dentaires amovibles, transparentes et sur-mesure. En moyenne, vous changerez de goutti\\u00e8res toutes les deux semaines selon un calendrier d\\u00e9fini pr\\u00e9alablement par votre praticien afin d\\u2019obtenir le sourire de vos r\\u00eaves. Le nombre total d\\u2019aligneurs d\\u00e9pend du plan de traitement orthodontique \\u00e9tabli par votre praticien. Le co\\u00fbt de notre traitement par aligneurs dentaires est donc bien diff\\u00e9rent du prix d'un traitement orthodontique classique\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 9, \"chunk_count\": 16}}\n{\"text\": \"#### La mutuelle couvre-t-elle les frais li\\u00e9s au traitement ?\\n\\nVotre mutuelle peut parfois prendre en charge une partie voire m\\u00eame la totalit\\u00e9 de votre traitement orthodontique. Lors de votre premier rendez-vous avec votre praticien, vous recevrez un devis. De cette mani\\u00e8re, vous aurez la possibilit\\u00e9 de le transmettre \\u00e0 votre mutuelle afin qu'elle vous confirme la possibilit\\u00e9 de remboursement de ce traitement.\\n\\n---\\n\\n[Plus de questions](/faq)\\n\\n---\\n\\nCas traitables\\n\\n[Malocclusion dentaire](/malocclusion-dentaire/)[Chevauchement dentaire](/malocclusion-dentaire/chevauchement-dentaire/)[B\\u00e9ance dentaire](/malocclusion-dentaire/beance-dentaire/)[Diast\\u00e8me dentaire](/malocclusion-dentaire/diasteme-dentaire/)[Supraclusion dentaire](/malocclusion-dentaire/supraclusion-dentaire/)[Articul\\u00e9 invers\\u00e9](/malocclusion-dentaire/articule-inverse/)[Occlusion en bout-\\u00e0-bout](/malocclusion-dentaire/occlusion-bout-a-bout/)\\n\\nEntreprise\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 10, \"chunk_count\": 16}}\n{\"text\": \"Entreprise\\n\\n[Accueil](/)[Parcours patient](/parcours-patient/)[Tarifs](/tarifs/)[Nos avantages](/nos-avantages/)[Avis](/avis/)[Blog](/blog)[Espace Presse](https://www.orthlane.com/contact/)\\n\\nSolutions orthodontiques\\n\\n[Guide de l'orthodontie](/orthodontie/)[Guide des appareils dentaires invisibles](/appareil-dentaire-invisible/)[Les appareils dentaires invisibles pour les adultes](/appareil-dentaire-invisible/adulte/)[La contention en orthodontie](/appareil-dentaire-invisible/contention-dentaire/)[Prix des appareils dentaires invisibles](/appareil-dentaire-invisible/prix/)[Orthodontie pour les adolescents](/orthodontie/adolescents/)\\n\\nGoutti\\u00e8res dentaires\\n\\nComparaison des offres\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 11, \"chunk_count\": 16}}\n{\"text\": \"Goutti\\u00e8res dentaires\\n\\nComparaison des offres\\n\\n[Les goutti\\u00e8res dentaires](/gouttieres-dentaires/)[Les prises en charges mutuelles](/gouttieres-dentaires/prise-en-charge-mutuelle/)[Aligneurs dentaires](/aligneurs-dentaires/)[Entretien des goutti\\u00e8res dentaires](/blog/aligneur-dentaire/entretien-gouttieres-dentaires/)[Stripping pour traitement orthodontique](/aligneurs-dentaires/stripping-dentaire-traitement-orthodontique/)\\n\\nAide\\n\\n[FAQ](/faq/)[Contact](/contact/)[Je commence](https://consult.orthlane.com/)[CGU](/cgu/)[Mentions l\\u00e9gales](/mentions-legales/)\\n\\nCas traitables\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 12, \"chunk_count\": 16}}\n{\"text\": \"Cas traitables\\n\\n[Malocclusion dentaire](/malocclusion-dentaire/)[Chevauchement dentaire](/malocclusion-dentaire/chevauchement-dentaire/)[B\\u00e9ance dentaire](/malocclusion-dentaire/beance-dentaire/)[Diast\\u00e8me dentaire](/malocclusion-dentaire/diasteme-dentaire/)[Supraclusion dentaire](/malocclusion-dentaire/supraclusion-dentaire/)[Articul\\u00e9 invers\\u00e9](/malocclusion-dentaire/articule-inverse/)[Occlusion en bout-\\u00e0-bout](/malocclusion-dentaire/occlusion-bout-a-bout/)\\n\\nEntreprise\\n\\n[Accueil](/)[Parcours patient](/parcours-patient/)[Tarifs](/tarifs/)[Nos avantages](/nos-avantages/)[Avis](/avis/)[Blog](/blog)[Espace Presse](https://www.orthlane.com/contact/)\\n\\nSolutions orthodontiques\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 13, \"chunk_count\": 16}}\n{\"text\": \"Solutions orthodontiques\\n\\n[Guide de l'orthodontie](/orthodontie/)[Guide des appareils dentaires invisibles](/appareil-dentaire-invisible/)[Les appareils dentaires invisibles pour les adultes](/appareil-dentaire-invisible/adulte/)[La contention en orthodontie](/appareil-dentaire-invisible/contention-dentaire/)[Prix des appareils dentaires invisibles](/appareil-dentaire-invisible/prix/)[Orthodontie pour les adolescents](/orthodontie/adolescents/)\\n\\nGoutti\\u00e8res dentaires\\n\\nComparaison des offres\\n\\n[Les goutti\\u00e8res dentaires](/gouttieres-dentaires/)[Les prises en charges mutuelles](/gouttieres-dentaires/prise-en-charge-mutuelle/)[Aligneurs dentaires](/aligneurs-dentaires/)[Entretien des goutti\\u00e8res dentaires](/blog/aligneur-dentaire/entretien-gouttieres-dentaires/)[Stripping pour traitement orthodontique](/aligneurs-dentaires/stripping-dentaire-traitement-orthodontique/)\\n\\nAide\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 14, \"chunk_count\": 16}}\n{\"text\": \"Aide\\n\\n[FAQ](/faq/)[Contact](/contact/)[Je commence](https://consult.orthlane.com/)[CGU](/cgu/)[Mentions l\\u00e9gales](/mentions-legales/)\\n\\n---\\n\\n[](https://www.facebook.com/orthlane)[](https://www.instagram.com/orthlane)[](https://twitter.com/orthlane)[](https://www.pinterest.fr/orthlane)[](https://www.tiktok.com/@orthlane)[](https://linkedin.com/company/orthlane)\\n\\n\\u00a9 Orthlane 2023. Tous droits r\\u00e9serv\\u00e9s\", \"metadata\": {\"source\": \"https://orthlane.com/tarifs/\", \"chunk_index\": 15, \"chunk_count\": 16}}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"},{"identifier":"1bc089df-96d8-3a56-a3a8-6d914c245776","instanceIdentifier":"23017125-0191-1000-9007-35a3a73735dd","name":"MergeContent","comments":"","position":{"x":280.0,"y":312.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"},{"identifier":"45bb3589-366a-32f7-8ac2-2b377469e0b5","instanceIdentifier":"231f02e7-0191-1000-1aca-5ad88701baf7","name":"EvaluateJsonPath","comments":"","position":{"x":-320.0,"y":128.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Destination":"flowfile-content","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1722b7a5-4c58-3b74-9dea-623351921490","instanceIdentifier":"231eb66b-0191-1000-a331-611c04ad81ad","name":"","source":{"id":"b8b24a3e-64e0-39e0-a078-8973660bfee5","type":"PROCESSOR","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"GenerateFlowFile","comments":"","instanceIdentifier":"22fd6936-0191-1000-c46c-efbe090be656"},"destination":{"id":"3b7abb92-0eb6-32a5-9d93-3ce50ee94d65","type":"PROCESSOR","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"SplitText","comments":"","instanceIdentifier":"231ea6b7-0191-1000-62a5-cbd31c239b6f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"},{"identifier":"05fdced7-3607-3560-8e2b-f62c06f2a373","instanceIdentifier":"230620de-0191-1000-c9ae-f10e3db96700","name":"","source":{"id":"1bc089df-96d8-3a56-a3a8-6d914c245776","type":"PROCESSOR","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"MergeContent","comments":"","instanceIdentifier":"23017125-0191-1000-9007-35a3a73735dd"},"destination":{"id":"375f0bd8-058f-32f6-b5ab-6bc45441ba9d","type":"FUNNEL","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"Funnel","comments":"","instanceIdentifier":"22fd9be5-0191-1000-7619-87416c0d57a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"},{"identifier":"b610a209-9c34-30e4-a7ab-4952835e9978","instanceIdentifier":"2316626a-0191-1000-f0da-304b431e32ce","name":"","source":{"id":"fedc9b70-8172-31c4-8121-fa21f058e4b1","type":"PROCESSOR","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"231641ac-0191-1000-aaa4-95b47a42cf0f"},"destination":{"id":"375f0bd8-058f-32f6-b5ab-6bc45441ba9d","type":"FUNNEL","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"Funnel","comments":"","instanceIdentifier":"22fd9be5-0191-1000-7619-87416c0d57a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"},{"identifier":"7c7ace50-87d9-3b9d-97a8-948b1e26eabe","instanceIdentifier":"231f1b8c-0191-1000-be71-287379a68932","name":"","source":{"id":"3b7abb92-0eb6-32a5-9d93-3ce50ee94d65","type":"PROCESSOR","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"SplitText","comments":"","instanceIdentifier":"231ea6b7-0191-1000-62a5-cbd31c239b6f"},"destination":{"id":"45bb3589-366a-32f7-8ac2-2b377469e0b5","type":"PROCESSOR","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"231f02e7-0191-1000-1aca-5ad88701baf7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"},{"identifier":"1b8deb1e-356e-3fa9-9cf6-70cf7f31fcaa","instanceIdentifier":"23167301-0191-1000-7116-947c6f561f14","name":"","source":{"id":"fedc9b70-8172-31c4-8121-fa21f058e4b1","type":"PROCESSOR","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"231641ac-0191-1000-aaa4-95b47a42cf0f"},"destination":{"id":"375f0bd8-058f-32f6-b5ab-6bc45441ba9d","type":"FUNNEL","groupId":"81d25456-b829-3a8c-9d1b-18a03d657a5d","name":"Funnel","comments":"","instanceIdentifier":"22fd9be5-0191-1000-7619-87416c0d57a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":468.0000051436035,"y":-127.4000104733907}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"}],"labels":[],"funnels":[{"identifier":"375f0bd8-058f-32f6-b5ab-6bc45441ba9d","instanceIdentifier":"22fd9be5-0191-1000-7619-87416c0d57a8","position":{"x":608.000010287207,"y":39.19997905321861},"componentType":"FUNNEL","groupIdentifier":"81d25456-b829-3a8c-9d1b-18a03d657a5d"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb"},{"identifier":"74c79102-ba9b-371d-9702-d03dc9107b78","instanceIdentifier":"13fe22d7-0191-1000-759c-85bce41b5bc8","name":"Evernote_Vector_Embeddings_Ingestion_Pipeline","comments":"","position":{"x":1640.0,"y":112.0},"processGroups":[{"identifier":"5c09dffb-a736-3741-af30-713af906c0bb","instanceIdentifier":"6aa853c9-5f2a-341f-ddd6-b0bcc8b5ef6d","name":"Filter for Non Confidential Notes","comments":"","position":{"x":344.0,"y":-120.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","instanceIdentifier":"23480783-6e24-3a87-fd8e-4cb399dac87d","name":"Filter for Non Secure Notes","comments":"","position":{"x":1576.0,"y":424.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"cache-schema":"true","dbf-default-precision":"10","Non Confidential Notes":"SELECT * FROM FLOWFILE where metadata_tags NOT LIKE '%SECURE%'","record-writer":"057ef80a-af1f-30a5-b899-bc089cad50cc","record-reader":"c0a22d2f-42c0-31e7-93dc-331e6f1bbf62","include-zero-record-flowfiles":"false","dbf-default-scale":"0","Confidential Notes":"SELECT * FROM FLOWFILE where metadata_tags LIKE '%SECURE%'"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Non Confidential Notes":{"name":"Non Confidential Notes","displayName":"Non Confidential Notes","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Confidential Notes":{"name":"Confidential Notes","displayName":"Confidential Notes","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"2c78fc30-8d79-36e7-ae9f-5ee98ec3b65b","instanceIdentifier":"a796fbbf-5dd1-32c4-ae08-5839b2e7fea3","name":"Split Note JSON Objects","comments":"","position":{"x":1192.0,"y":16.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]\""},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"9ebf6f08-902b-3cd2-a7b9-df0b6155b47b","instanceIdentifier":"1db10a02-a4be-3cd9-94d6-d2d6c2b8ec91","name":"MergeRecord","comments":"","position":{"x":1576.0,"y":224.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"10","max-bin-size":null,"record-writer":"057ef80a-af1f-30a5-b899-bc089cad50cc","merge-strategy":"Bin-Packing Algorithm","record-reader":"c0a22d2f-42c0-31e7-93dc-331e6f1bbf62","max-records":"100","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"f5789442-fc6e-3a14-86fb-a357dea04db3","instanceIdentifier":"a1bd63c3-6881-321e-2e62-e3e42c9f05af","name":"Flatten Note JSON","comments":"","position":{"x":1576.0,"y":16.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"jolt-spec","identifiesControllerService":false,"sensitive":true,"dynamic":false},"jolt-transform":{"name":"jolt-transform","displayName":"jolt-transform","identifiesControllerService":false,"sensitive":true,"dynamic":false},"pretty_print":{"name":"pretty_print","displayName":"pretty_print","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"inputPorts":[{"identifier":"ad258ab6-10a2-331b-b9cd-3eaaa5c4e36e","instanceIdentifier":"e2fc01f2-ffaa-337f-9b8c-d2c80f9521bf","name":"Chunked Notes","comments":"","position":{"x":920.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"outputPorts":[{"identifier":"fcf9372c-4f56-3146-836b-f7f4a7a09e61","instanceIdentifier":"7510bf1f-4766-361c-6f72-64d00ed9fa0f","name":"Confidential Notes","position":{"x":1776.0,"y":648.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"71a49f0c-a3c0-3d17-a1ed-537beedf7d3f","instanceIdentifier":"c3388c61-efbc-3747-6392-a0465167b71b","name":"Non-Confidential Notes","position":{"x":1384.0,"y":648.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"connections":[{"identifier":"81972db6-4803-3e0b-ad93-5c69d689056e","instanceIdentifier":"3f41581d-b36c-3683-222b-68a4d9a7816d","name":"","source":{"id":"9ebf6f08-902b-3cd2-a7b9-df0b6155b47b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"MergeRecord","comments":"","instanceIdentifier":"1db10a02-a4be-3cd9-94d6-d2d6c2b8ec91"},"destination":{"id":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Filter for Non Secure Notes","comments":"","instanceIdentifier":"23480783-6e24-3a87-fd8e-4cb399dac87d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"36bd0e56-19a7-3c96-9b44-5fa40203d753","instanceIdentifier":"a868dc42-059c-3658-fe40-b383040a4db2","name":"","source":{"id":"2c78fc30-8d79-36e7-ae9f-5ee98ec3b65b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Split Note JSON Objects","comments":"","instanceIdentifier":"a796fbbf-5dd1-32c4-ae08-5839b2e7fea3"},"destination":{"id":"f5789442-fc6e-3a14-86fb-a357dea04db3","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Flatten Note JSON","comments":"","instanceIdentifier":"a1bd63c3-6881-321e-2e62-e3e42c9f05af"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1504.0,"y":184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"6e203393-3c19-3708-a6df-540f788aa315","instanceIdentifier":"0318b09f-97a5-3bd0-6ccc-7346cb977838","name":"","source":{"id":"ad258ab6-10a2-331b-b9cd-3eaaa5c4e36e","type":"INPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Chunked Notes","comments":"","instanceIdentifier":"e2fc01f2-ffaa-337f-9b8c-d2c80f9521bf"},"destination":{"id":"2c78fc30-8d79-36e7-ae9f-5ee98ec3b65b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Split Note JSON Objects","comments":"","instanceIdentifier":"a796fbbf-5dd1-32c4-ae08-5839b2e7fea3"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1200.0,"y":176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"dea7224e-7ad6-3280-822d-f8e38e5b79bd","instanceIdentifier":"b1bf7e85-a204-35ad-041d-198d80e80390","name":"","source":{"id":"f5789442-fc6e-3a14-86fb-a357dea04db3","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Flatten Note JSON","comments":"","instanceIdentifier":"a1bd63c3-6881-321e-2e62-e3e42c9f05af"},"destination":{"id":"9ebf6f08-902b-3cd2-a7b9-df0b6155b47b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"MergeRecord","comments":"","instanceIdentifier":"1db10a02-a4be-3cd9-94d6-d2d6c2b8ec91"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"b2970db7-d9c6-3455-b2ef-1fc0255bc6c0","instanceIdentifier":"632073ac-b40f-38a5-747c-58a5e510896e","name":"","source":{"id":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Filter for Non Secure Notes","comments":"","instanceIdentifier":"23480783-6e24-3a87-fd8e-4cb399dac87d"},"destination":{"id":"71a49f0c-a3c0-3d17-a1ed-537beedf7d3f","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Non-Confidential Notes","instanceIdentifier":"c3388c61-efbc-3747-6392-a0465167b71b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Non Confidential Notes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"73b2cce3-ffe7-33c7-ae50-a2e2ffe1662f","instanceIdentifier":"a55ce748-5e97-3cf9-de11-ad51d6919a73","name":"","source":{"id":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Filter for Non Secure Notes","comments":"","instanceIdentifier":"23480783-6e24-3a87-fd8e-4cb399dac87d"},"destination":{"id":"fcf9372c-4f56-3146-836b-f7f4a7a09e61","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Confidential Notes","instanceIdentifier":"7510bf1f-4766-361c-6f72-64d00ed9fa0f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Confidential Notes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"}],"remoteProcessGroups":[],"processors":[{"identifier":"3ab87ff2-404a-39b1-895e-749cb4618d70","instanceIdentifier":"b968484a-e435-3fee-69b1-3546f88e9c6c","name":"Create OpenAI Vector Embeddings","comments":"","position":{"x":144.0,"y":144.0},"type":"python.GetOpenAiVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"OpenAI API Key":"#{vector_embedding_model_service_api_key}"},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OpenAI Embedding Models":{"name":"OpenAI Embedding Models","displayName":"OpenAI Embedding Models","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"5b2318be-b0e6-3e42-b1ad-0493e2ce2049","instanceIdentifier":"1a4a963c-94c2-3d33-74c3-d524a3ae75c3","name":"Get Evernote Note Path","comments":"","position":{"x":32.0,"y":-352.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M4"},"properties":{"Delete Attributes Expression":null,"pdfFile":"${absolute.path}/${filename}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pdfFile":{"name":"pdfFile","displayName":"pdfFile","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"1c658dc3-736b-3e59-81d7-43b17ac66243","instanceIdentifier":"c7d8fe95-3133-380a-e18f-fbac0296b5ca","name":"Export Notes from Evernote","comments":"","position":{"x":296.0,"y":-496.0},"type":"python.ExportNotesFromEvernote","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Evernote Authentication Token":"#{evernote_auth_key}","Stack Filter":"#{evernote_stack_filter}","Export from Date/Time":"#{evernote_export_from_dtm}","Export Directory":"#{evernote_export_directory}"},"propertyDescriptors":{"Evernote Authentication Token":{"name":"Evernote Authentication Token","displayName":"Evernote Authentication Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Stack Filter":{"name":"Stack Filter","displayName":"Stack Filter","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Export from Date/Time":{"name":"Export from Date/Time","displayName":"Export from Date/Time","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Export Directory":{"name":"Export Directory","displayName":"Export Directory","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"060b3db8-8c9b-38cf-8640-c70002e3465f","instanceIdentifier":"bf537164-ea8e-3e7d-1af9-4abf73db7bf1","name":"Audit Secure Notes Not Embedded","comments":"","position":{"x":600.0,"y":144.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"136b6ea9-9ebb-3ec5-9430-a5f91bc3ca9b","instanceIdentifier":"130116fc-ed4a-3ba1-e8fc-8e5fddeb0e54","name":"Store Vectors In Pinecone","comments":"","position":{"x":136.0,"y":320.0},"type":"python.PutPineconeVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0.dev0"},"properties":{"Namepace":"#{pincone_evernote_namespace}","Pinecone API Key":"#{vector_database_service_api_key}","Index Name":"#{pinecone_evernote_index_name}","Pinecone Env Name":"#{vector_database_environment}"},"propertyDescriptors":{"Namepace":{"name":"Namepace","displayName":"Namepace","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Pinecone Env Name":{"name":"Pinecone Env Name","displayName":"Pinecone Env Name","identifiesControllerService":false,"sensitive":true,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"a4af3302-1a00-3b05-b557-9e2308350346","instanceIdentifier":"cce1fbd9-9908-35cd-50f9-000f6c4f18b4","name":"Chunk Evernote Note","comments":"","position":{"x":408.0,"y":-352.0},"type":"python.SplitEvernoteText","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{},"propertyDescriptors":{"Chunk Overlap":{"name":"Chunk Overlap","displayName":"Chunk Overlap","identifiesControllerService":false,"sensitive":true,"dynamic":false},"PDF Document File":{"name":"PDF Document File","displayName":"PDF Document File","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"ffcfd197-d701-3864-8af3-f58030bba83a","instanceIdentifier":"25adc46b-7f99-340a-8530-46de76ecf2cb","name":"Trigger Evernote Export","comments":"","position":{"x":-320.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"cd31d242-a76d-326b-a44c-8397dc58d5b5","instanceIdentifier":"495651ed-9055-398f-2df6-f5c818eb7a2c","name":"Listen for New Evernote Notes","comments":"","position":{"x":-336.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"#{evernote_export_directory}","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1d2a6211-193b-3b19-9e20-e9a894f1f6a3","instanceIdentifier":"7ad070a2-34bf-34bd-1217-5eb4c2734eab","name":"","source":{"id":"ffcfd197-d701-3864-8af3-f58030bba83a","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Trigger Evernote Export","comments":"","instanceIdentifier":"25adc46b-7f99-340a-8530-46de76ecf2cb"},"destination":{"id":"1c658dc3-736b-3e59-81d7-43b17ac66243","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Export Notes from Evernote","comments":"","instanceIdentifier":"c7d8fe95-3133-380a-e18f-fbac0296b5ca"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"aeaf1b8b-fb9e-349b-a197-3ffd3f7338c9","instanceIdentifier":"406126a8-a03b-3d58-a2be-a75935181f9c","name":"","source":{"id":"a4af3302-1a00-3b05-b557-9e2308350346","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Chunk Evernote Note","comments":"","instanceIdentifier":"cce1fbd9-9908-35cd-50f9-000f6c4f18b4"},"destination":{"id":"3846639e-3fba-35d3-8ccc-b9649c6c5562","type":"FUNNEL","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Funnel","comments":"","instanceIdentifier":"f350210d-930c-30cd-cb90-3e296512a84e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":888.0,"y":-288.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"471544b8-5745-3aa7-9e20-4ed1a8d77f95","instanceIdentifier":"e75e0437-ab06-3226-8d64-d94b446707c1","name":"","source":{"id":"136b6ea9-9ebb-3ec5-9430-a5f91bc3ca9b","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Store Vectors In Pinecone","comments":"","instanceIdentifier":"130116fc-ed4a-3ba1-e8fc-8e5fddeb0e54"},"destination":{"id":"d31e5298-b5e3-3ade-b7ef-e54679f42dd4","type":"FUNNEL","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Funnel","comments":"","instanceIdentifier":"69c8c1c1-97c8-381f-ae46-52d4dddb4464"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"c968dc6e-675e-3255-b771-99fba457fcbd","instanceIdentifier":"37793f82-96ce-3766-1d57-cbb9db1e220b","name":"","source":{"id":"fcf9372c-4f56-3146-836b-f7f4a7a09e61","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Confidential Notes","instanceIdentifier":"7510bf1f-4766-361c-6f72-64d00ed9fa0f"},"destination":{"id":"060b3db8-8c9b-38cf-8640-c70002e3465f","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Audit Secure Notes Not Embedded","comments":"","instanceIdentifier":"bf537164-ea8e-3e7d-1af9-4abf73db7bf1"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"0bdece58-a0c0-3419-bdb6-ac66d9d604be","instanceIdentifier":"83ef654f-e595-3042-5fea-22789b0a146a","name":"","source":{"id":"3ab87ff2-404a-39b1-895e-749cb4618d70","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Create OpenAI Vector Embeddings","comments":"","instanceIdentifier":"b968484a-e435-3fee-69b1-3546f88e9c6c"},"destination":{"id":"d31e5298-b5e3-3ade-b7ef-e54679f42dd4","type":"FUNNEL","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Funnel","comments":"","instanceIdentifier":"69c8c1c1-97c8-381f-ae46-52d4dddb4464"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"3947d7d7-7577-34eb-a449-800b736d45e3","instanceIdentifier":"a68327ec-b5fa-3902-a7ca-a026509fab66","name":"","source":{"id":"a4af3302-1a00-3b05-b557-9e2308350346","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Chunk Evernote Note","comments":"","instanceIdentifier":"cce1fbd9-9908-35cd-50f9-000f6c4f18b4"},"destination":{"id":"ad258ab6-10a2-331b-b9cd-3eaaa5c4e36e","type":"INPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Chunked Notes","comments":"","instanceIdentifier":"e2fc01f2-ffaa-337f-9b8c-d2c80f9521bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"04e78ba8-ed3c-3ba9-9195-27f7a1b08564","instanceIdentifier":"13823e96-5c2a-3a5b-37ec-841c596931ba","name":"","source":{"id":"71a49f0c-a3c0-3d17-a1ed-537beedf7d3f","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Non-Confidential Notes","instanceIdentifier":"c3388c61-efbc-3747-6392-a0465167b71b"},"destination":{"id":"3ab87ff2-404a-39b1-895e-749cb4618d70","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Create OpenAI Vector Embeddings","comments":"","instanceIdentifier":"b968484a-e435-3fee-69b1-3546f88e9c6c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"800b48dd-60c7-3c5f-9069-296c18c192f7","instanceIdentifier":"d61b5d74-c394-3bd9-4153-af1b4d513637","name":"","source":{"id":"cd31d242-a76d-326b-a44c-8397dc58d5b5","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Listen for New Evernote Notes","comments":"","instanceIdentifier":"495651ed-9055-398f-2df6-f5c818eb7a2c"},"destination":{"id":"5b2318be-b0e6-3e42-b1ad-0493e2ce2049","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Get Evernote Note Path","comments":"","instanceIdentifier":"1a4a963c-94c2-3d33-74c3-d524a3ae75c3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-24.0,"y":-168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"bd7195bc-b6fe-3d60-a574-294809626593","instanceIdentifier":"448902d2-da9f-3a23-f058-865d8a3f1f38","name":"","source":{"id":"5b2318be-b0e6-3e42-b1ad-0493e2ce2049","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Get Evernote Note Path","comments":"","instanceIdentifier":"1a4a963c-94c2-3d33-74c3-d524a3ae75c3"},"destination":{"id":"a4af3302-1a00-3b05-b557-9e2308350346","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Chunk Evernote Note","comments":"","instanceIdentifier":"cce1fbd9-9908-35cd-50f9-000f6c4f18b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":320.0,"y":-176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"ea4a6150-5756-3daa-ac6d-da950fdf3f43","instanceIdentifier":"6675c15e-00ac-3489-cacc-740ecb7164f1","name":"","source":{"id":"3ab87ff2-404a-39b1-895e-749cb4618d70","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Create OpenAI Vector Embeddings","comments":"","instanceIdentifier":"b968484a-e435-3fee-69b1-3546f88e9c6c"},"destination":{"id":"136b6ea9-9ebb-3ec5-9430-a5f91bc3ca9b","type":"PROCESSOR","groupId":"74c79102-ba9b-371d-9702-d03dc9107b78","name":"Store Vectors In Pinecone","comments":"","instanceIdentifier":"130116fc-ed4a-3ba1-e8fc-8e5fddeb0e54"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"}],"labels":[],"funnels":[{"identifier":"c20c28ea-0706-37f5-9b06-a2902a471da0","instanceIdentifier":"8d95e0b8-dede-3cce-c2e0-2f30d78e957c","position":{"x":-1024.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"c7a5472b-d876-3e36-b9cf-428c262f33cb","instanceIdentifier":"e345f038-b1b0-3983-8810-4f63fd3a0b33","position":{"x":480.0,"y":928.0},"componentType":"FUNNEL","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"3846639e-3fba-35d3-8ccc-b9649c6c5562","instanceIdentifier":"f350210d-930c-30cd-cb90-3e296512a84e","position":{"x":864.0,"y":-224.0},"componentType":"FUNNEL","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"d31e5298-b5e3-3ade-b7ef-e54679f42dd4","instanceIdentifier":"69c8c1c1-97c8-381f-ae46-52d4dddb4464","position":{"x":-152.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"}],"controllerServices":[{"identifier":"057ef80a-af1f-30a5-b899-bc089cad50cc","instanceIdentifier":"cd810b71-3275-3f16-3084-ee5c7bba54f1","name":"EvernoteJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"true","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-protocol-version":"1","schema-text":"#{evernote_schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"schema-protocol-version","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"},{"identifier":"c0a22d2f-42c0-31e7-93dc-331e6f1bbf62","instanceIdentifier":"5504f674-3ea9-3eef-5e61-5f4e3e1eefde","name":"EvernoteJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"#{evernote_schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"74c79102-ba9b-371d-9702-d03dc9107b78"}],"parameterContextName":"VectorEmbeddingsIngestion","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb"}],"remoteProcessGroups":[],"processors":[{"identifier":"90b0d223-d730-3a71-8570-9f72c3f09547","instanceIdentifier":"1f286062-0191-1000-eb56-cda70394cf78","name":"GetVectorEmbedding","comments":"","position":{"x":1288.0,"y":680.0},"type":"python.GetVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0.dev0"},"properties":{"OpenAI Embedding Models":"text-embedding-ada-002","AzureOpenAI Version":"2024-05-01-preview","Chunk Size":"1000","AzureOpenAI Endpoint":"https://othai.openai.azure.com/"},"propertyDescriptors":{"OpenAI Embedding Models":{"name":"OpenAI Embedding Models","displayName":"OpenAI Embedding Models","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI Version":{"name":"AzureOpenAI Version","displayName":"AzureOpenAI Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI API Key":{"name":"AzureOpenAI API Key","displayName":"AzureOpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI Endpoint":{"name":"AzureOpenAI Endpoint","displayName":"AzureOpenAI Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb"},{"identifier":"7e199d7d-c6f0-398c-be31-6642a78d167b","instanceIdentifier":"14a79d24-0191-1000-ec0e-755e01ecb083","name":"GenerateFlowFile","comments":"","position":{"x":368.0,"y":440.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[\n    {\n        \"text\": \"The quick brown fox jumps over the lazy dog.\",\n        \"metadata\": {\n            \"source\": \"example.com\"\n        }\n    },\n    {\n        \"text\": \"Lorem ipsum dolor sit amet, consectetur adipiscing elit.\",\n        \"metadata\": {\n            \"source\": \"example.org\"\n        }\n    }\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"0e2bca72-ee3c-3adc-b322-357d4bd4866c","instanceIdentifier":"1f3667fd-0191-1000-d4d9-237d75acc4a5","name":"","source":{"id":"90b0d223-d730-3a71-8570-9f72c3f09547","type":"PROCESSOR","groupId":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb","name":"GetVectorEmbedding","comments":"","instanceIdentifier":"1f286062-0191-1000-eb56-cda70394cf78"},"destination":{"id":"3d7a8cf0-40f5-38d7-8b98-06804bb59364","type":"FUNNEL","groupId":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb","name":"Funnel","comments":"","instanceIdentifier":"14bd079d-0191-1000-ede4-36657c221855"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1460.723239576785,"y":476.9725647422457}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb"},{"identifier":"fb2c9ec0-4f20-3924-b34d-647f89684570","instanceIdentifier":"22a4c9cd-0191-1000-b695-fd4c857dfdac","name":"","source":{"id":"7e199d7d-c6f0-398c-be31-6642a78d167b","type":"PROCESSOR","groupId":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb","name":"GenerateFlowFile","comments":"","instanceIdentifier":"14a79d24-0191-1000-ec0e-755e01ecb083"},"destination":{"id":"90b0d223-d730-3a71-8570-9f72c3f09547","type":"PROCESSOR","groupId":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb","name":"GetVectorEmbedding","comments":"","instanceIdentifier":"1f286062-0191-1000-eb56-cda70394cf78"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb"},{"identifier":"f2966813-f39a-35e6-9b6e-801826c33bb4","instanceIdentifier":"1f3655d4-0191-1000-d15f-0a09ece0d225","name":"","source":{"id":"90b0d223-d730-3a71-8570-9f72c3f09547","type":"PROCESSOR","groupId":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb","name":"GetVectorEmbedding","comments":"","instanceIdentifier":"1f286062-0191-1000-eb56-cda70394cf78"},"destination":{"id":"3d7a8cf0-40f5-38d7-8b98-06804bb59364","type":"FUNNEL","groupId":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb","name":"Funnel","comments":"","instanceIdentifier":"14bd079d-0191-1000-ede4-36657c221855"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb"}],"labels":[],"funnels":[{"identifier":"3d7a8cf0-40f5-38d7-8b98-06804bb59364","instanceIdentifier":"14bd079d-0191-1000-ede4-36657c221855","position":{"x":1625.4464791535702,"y":535.9451294844914},"componentType":"FUNNEL","groupIdentifier":"d94633bf-697e-3af8-a48a-7d6c8e8bebdb"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"VectorEmbeddingsIngestion":{"name":"VectorEmbeddingsIngestion","parameters":[{"name":"pinecone_evernote_index_name","description":"","sensitive":false,"provided":false,"value":"book-demo"},{"name":"vector_database_environment","description":"","sensitive":true,"provided":false},{"name":"evernote_export_directory","description":"","sensitive":false,"provided":false,"value":"/Users/gvetticaden/Dropbox/Hortonworks/evernotes"},{"name":"evernote_stack_filter","description":"","sensitive":false,"provided":false,"value":"Home"},{"name":"vector_embedding_model_service_api_key","description":"","sensitive":true,"provided":false},{"name":"evernote_auth_key","description":"","sensitive":true,"provided":false},{"name":"evernote_export_from_dtm","description":"","sensitive":false,"provided":false,"value":"2010-06-21 12:00:00"},{"name":"evernote_schema","description":"","sensitive":false,"provided":false,"value":"{\n  \"type\": \"record\",\n  \"name\": \"Note\",\n  \"fields\": [\n    {\n      \"name\": \"page_content\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"metadata_title\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"metadata_created\",\n      \"type\": \"long\"\n    },\n    {\n      \"name\": \"metadata_updated\",\n      \"type\": \"long\"\n    },\n    {\n      \"name\": \"metadata_tags\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"metadata_source\",\n      \"type\": \"string\"\n    }\n  ]\n}"},{"name":"vector_database_service_api_key","description":"","sensitive":true,"provided":false},{"name":"pincone_evernote_namespace","description":"","sensitive":false,"provided":false,"value":"evernote_export_via_api_20"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}