nifi-flow/Chatbot.json
{"flowContents":{"identifier":"c16e4897-47a0-34bc-8818-dcacb783410b","instanceIdentifier":"e2a0394d-0191-1000-94c6-e9072406657f","name":"Chatbot","comments":"","position":{"x":-184.0,"y":-168.0},"processGroups":[{"identifier":"10880d17-8fbf-3adf-809f-c24eae513b2d","instanceIdentifier":"b97fae26-e52b-3eeb-63dd-3f898bc018ae","name":"Vector_Embeddings_Ingestion","comments":"","position":{"x":464.0,"y":120.0},"processGroups":[{"identifier":"f58d8cfd-d3be-35fc-aa29-315694be6974","instanceIdentifier":"699a1bef-7f6a-388a-272e-560575b0101f","name":"Update Format","comments":"","position":{"x":-176.0,"y":8.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7961536a-0f69-3f96-bfc1-4371cbc96cdd","instanceIdentifier":"de798d30-e894-32d9-71e2-d49965d10225","name":"ReplaceText","comments":"","position":{"x":259.19424705268443,"y":101.74964181573597},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Regular Expression":"\\[\\s*\\]","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f58d8cfd-d3be-35fc-aa29-315694be6974"},{"identifier":"b537587d-d409-3089-b753-495873405dde","instanceIdentifier":"dd186be8-0274-389a-7499-227204476058","name":"Update Content","comments":"","position":{"x":-364.80575294731557,"y":-114.25035818426403},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Regular Expression":"\\}(?=\\s*[\\{])","Replacement Value":"},","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f58d8cfd-d3be-35fc-aa29-315694be6974"},{"identifier":"979ac39e-c6b3-3f60-a035-a12ae6662d99","instanceIdentifier":"3a079133-7e7c-3a35-b61c-f1b13c0fcf01","name":"ConvertToList","comments":"","position":{"x":-372.80575294731557,"y":101.74964181573597},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Regular Expression":"(?s)(.*)","Replacement Value":"[$1]","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f58d8cfd-d3be-35fc-aa29-315694be6974"}],"inputPorts":[{"identifier":"08a5ffa7-169c-31a0-9a66-ca80c8c295b1","instanceIdentifier":"c66cc97a-6481-333d-4c19-da8f173adcb4","name":"input","position":{"x":-312.0,"y":-256.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"f58d8cfd-d3be-35fc-aa29-315694be6974"}],"outputPorts":[{"identifier":"4ed352bb-bcec-3a34-a698-9377c2e83541","instanceIdentifier":"39780e92-8625-3c4d-985f-457dcb18ca40","name":"Output","position":{"x":904.0,"y":144.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"f58d8cfd-d3be-35fc-aa29-315694be6974"}],"connections":[{"identifier":"1f3d11b8-b07e-3a9b-9269-e094a5710f3c","instanceIdentifier":"3eb93e3f-59c4-335c-d4ed-93fc8cfbf4d7","name":"","source":{"id":"b537587d-d409-3089-b753-495873405dde","type":"PROCESSOR","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"Update Content","comments":"","instanceIdentifier":"dd186be8-0274-389a-7499-227204476058"},"destination":{"id":"979ac39e-c6b3-3f60-a035-a12ae6662d99","type":"PROCESSOR","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"ConvertToList","comments":"","instanceIdentifier":"3a079133-7e7c-3a35-b61c-f1b13c0fcf01"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f58d8cfd-d3be-35fc-aa29-315694be6974"},{"identifier":"f825b02b-c66f-3318-a5cb-ccc4d247a179","instanceIdentifier":"5ec8fb39-3b9c-3f39-518a-e6425efd2c00","name":"","source":{"id":"7961536a-0f69-3f96-bfc1-4371cbc96cdd","type":"PROCESSOR","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"ReplaceText","comments":"","instanceIdentifier":"de798d30-e894-32d9-71e2-d49965d10225"},"destination":{"id":"4ed352bb-bcec-3a34-a698-9377c2e83541","type":"OUTPUT_PORT","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"Output","instanceIdentifier":"39780e92-8625-3c4d-985f-457dcb18ca40"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f58d8cfd-d3be-35fc-aa29-315694be6974"},{"identifier":"bbc0e051-a7a7-3a4b-9ec2-ddaf2ad4526d","instanceIdentifier":"f52ecec9-e597-321f-85ad-b0b2055f7eea","name":"","source":{"id":"08a5ffa7-169c-31a0-9a66-ca80c8c295b1","type":"INPUT_PORT","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"input","instanceIdentifier":"c66cc97a-6481-333d-4c19-da8f173adcb4"},"destination":{"id":"b537587d-d409-3089-b753-495873405dde","type":"PROCESSOR","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"Update Content","comments":"","instanceIdentifier":"dd186be8-0274-389a-7499-227204476058"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f58d8cfd-d3be-35fc-aa29-315694be6974"},{"identifier":"e1ce7593-9d28-3c7b-8e1a-7069a4399a86","instanceIdentifier":"d416359a-28e2-3291-04b7-4eb22abf9af1","name":"","source":{"id":"979ac39e-c6b3-3f60-a035-a12ae6662d99","type":"PROCESSOR","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"ConvertToList","comments":"","instanceIdentifier":"3a079133-7e7c-3a35-b61c-f1b13c0fcf01"},"destination":{"id":"7961536a-0f69-3f96-bfc1-4371cbc96cdd","type":"PROCESSOR","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"ReplaceText","comments":"","instanceIdentifier":"de798d30-e894-32d9-71e2-d49965d10225"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f58d8cfd-d3be-35fc-aa29-315694be6974"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"remoteProcessGroups":[],"processors":[{"identifier":"641241b5-18f9-3dfb-a27e-d642a52c1db2","instanceIdentifier":"2257aac6-c9fb-3a32-de3d-8d76662bd5fd","name":"ChunkDocument","comments":"","position":{"x":-696.0,"y":48.0},"type":"python.ChunkDocument","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0.dev0"},"properties":{"Separator Format":"Plain Text","Chunk Overlap":"40","Keep Separator":"false","Language":"python","Chunk Size":"400","Chunking Strategy":"Recursively Split by Character","Separator":"\\n\\n,\\n, ,","Strip Whitespace":"true"},"propertyDescriptors":{"Separator Format":{"name":"Separator Format","displayName":"Separator Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Overlap":{"name":"Chunk Overlap","displayName":"Chunk Overlap","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Separator":{"name":"Keep Separator","displayName":"Keep Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Language":{"name":"Language","displayName":"Language","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunking Strategy":{"name":"Chunking Strategy","displayName":"Chunking Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Separator":{"name":"Separator","displayName":"Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strip Whitespace":{"name":"Strip Whitespace","displayName":"Strip Whitespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"9363acd2-4903-3ee3-8726-6c9b7387c9d3","instanceIdentifier":"4626a6af-24df-3701-7cfd-e3e7edf9c9f7","name":"PutPineconeVectorEmbedding","comments":"","position":{"x":-160.0,"y":-184.0},"type":"python.PutPineconeVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-dev0"},"properties":{"AzureOpenAI Version":"2024-05-01-preview","AzureOpenAI Embedding Model name":"ttext-embedding-ada-002","Index Name":"orthlane-index","Metric":"euclidean","AzureOpenAI Endpoint":"https://othai.openai.azure.com/","Vector Embedding dimension":"1536","Namespace":null},"propertyDescriptors":{"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"AzureOpenAI Version":{"name":"AzureOpenAI Version","displayName":"AzureOpenAI Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI API Key":{"name":"AzureOpenAI API Key","displayName":"AzureOpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"AzureOpenAI Embedding Model name":{"name":"AzureOpenAI Embedding Model name","displayName":"AzureOpenAI Embedding Model name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Metric":{"name":"Metric","displayName":"Metric","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI Endpoint":{"name":"AzureOpenAI Endpoint","displayName":"AzureOpenAI Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Vector Embedding dimension":{"name":"Vector Embedding dimension","displayName":"Vector Embedding dimension","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Namespace":{"name":"Namespace","displayName":"Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"ad7cd668-d535-3c47-b92a-9a608e4d16a9","instanceIdentifier":"285fc41e-9369-3f48-ef54-41b741d895ea","name":"SplitJson","comments":"","position":{"x":-696.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]\""},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"inputPorts":[{"identifier":"e7284acb-793d-37b2-b2ec-c0ddc7e74741","instanceIdentifier":"e2ad24a2-0191-1000-6585-d3e231fb2c89","name":"Start From Website","position":{"x":-640.0,"y":-248.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"6a9dbba3-56d1-333e-9fc0-c287be173a60","instanceIdentifier":"e2af4e6a-0191-1000-8e6a-6745ee73019b","name":"Start From Documents","position":{"x":-640.0,"y":224.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"outputPorts":[{"identifier":"76e220d4-e828-30b1-97d6-077695b9356c","instanceIdentifier":"5084fc17-3f98-33e7-7ed2-84b73b10d045","name":"PineconeStore","position":{"x":-104.0,"y":-296.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"connections":[{"identifier":"ab04e156-993b-3d07-b743-48057184c959","instanceIdentifier":"4ae2b7a5-1098-3951-b164-e0670cb94e1a","name":"","source":{"id":"9363acd2-4903-3ee3-8726-6c9b7387c9d3","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"PutPineconeVectorEmbedding","comments":"","instanceIdentifier":"4626a6af-24df-3701-7cfd-e3e7edf9c9f7"},"destination":{"id":"76e220d4-e828-30b1-97d6-077695b9356c","type":"OUTPUT_PORT","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"PineconeStore","instanceIdentifier":"5084fc17-3f98-33e7-7ed2-84b73b10d045"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"cf9f3943-80fc-3394-bc47-49023652f80c","instanceIdentifier":"13625f96-2b43-3bf1-a554-4f1717f37d43","name":"","source":{"id":"ad7cd668-d535-3c47-b92a-9a608e4d16a9","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"SplitJson","comments":"","instanceIdentifier":"285fc41e-9369-3f48-ef54-41b741d895ea"},"destination":{"id":"641241b5-18f9-3dfb-a27e-d642a52c1db2","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"ChunkDocument","comments":"","instanceIdentifier":"2257aac6-c9fb-3a32-de3d-8d76662bd5fd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"fd54534c-f113-34ca-97ee-4aa5f566dbc1","instanceIdentifier":"6edb976a-b68d-318a-44da-212691f84162","name":"","source":{"id":"641241b5-18f9-3dfb-a27e-d642a52c1db2","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"ChunkDocument","comments":"","instanceIdentifier":"2257aac6-c9fb-3a32-de3d-8d76662bd5fd"},"destination":{"id":"08a5ffa7-169c-31a0-9a66-ca80c8c295b1","type":"INPUT_PORT","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"input","instanceIdentifier":"c66cc97a-6481-333d-4c19-da8f173adcb4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"f008dd53-c322-3b6e-8bc2-4ba816986996","instanceIdentifier":"32511cb6-d1d1-3308-0903-6c3b802eb771","name":"","source":{"id":"641241b5-18f9-3dfb-a27e-d642a52c1db2","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"ChunkDocument","comments":"","instanceIdentifier":"2257aac6-c9fb-3a32-de3d-8d76662bd5fd"},"destination":{"id":"f38307b7-b77e-3948-b41a-65d4311a8442","type":"FUNNEL","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Funnel","comments":"","instanceIdentifier":"103e0a79-6767-3911-2eb4-45b965c1e17a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"be13aea5-4a37-3177-9fbe-edcc300a00a5","instanceIdentifier":"e2ad4510-0191-1000-a560-021cebc4dc75","name":"","source":{"id":"e7284acb-793d-37b2-b2ec-c0ddc7e74741","type":"INPUT_PORT","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Start From Website","instanceIdentifier":"e2ad24a2-0191-1000-6585-d3e231fb2c89"},"destination":{"id":"ad7cd668-d535-3c47-b92a-9a608e4d16a9","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"SplitJson","comments":"","instanceIdentifier":"285fc41e-9369-3f48-ef54-41b741d895ea"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"0e3738b9-2268-378e-bda2-045ff621ce42","instanceIdentifier":"e2af6507-0191-1000-24bf-1552b908ad3b","name":"","source":{"id":"6a9dbba3-56d1-333e-9fc0-c287be173a60","type":"INPUT_PORT","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Start From Documents","instanceIdentifier":"e2af4e6a-0191-1000-8e6a-6745ee73019b"},"destination":{"id":"641241b5-18f9-3dfb-a27e-d642a52c1db2","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"ChunkDocument","comments":"","instanceIdentifier":"2257aac6-c9fb-3a32-de3d-8d76662bd5fd"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"8567ccd9-cb06-3c3c-bf4e-525bbe9c598d","instanceIdentifier":"14837b36-d76d-3b0f-4000-ddd0f3694993","name":"","source":{"id":"4ed352bb-bcec-3a34-a698-9377c2e83541","type":"OUTPUT_PORT","groupId":"f58d8cfd-d3be-35fc-aa29-315694be6974","name":"Output","instanceIdentifier":"39780e92-8625-3c4d-985f-457dcb18ca40"},"destination":{"id":"9363acd2-4903-3ee3-8726-6c9b7387c9d3","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"PutPineconeVectorEmbedding","comments":"","instanceIdentifier":"4626a6af-24df-3701-7cfd-e3e7edf9c9f7"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"73921342-585d-3f59-a327-317d0c5670f0","instanceIdentifier":"e2aee3da-0191-1000-a555-5f45c2e7a976","name":"","source":{"id":"9363acd2-4903-3ee3-8726-6c9b7387c9d3","type":"PROCESSOR","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"PutPineconeVectorEmbedding","comments":"","instanceIdentifier":"4626a6af-24df-3701-7cfd-e3e7edf9c9f7"},"destination":{"id":"0a700105-b8e7-3b3e-a19e-3bd47e166629","type":"FUNNEL","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Funnel","comments":"","instanceIdentifier":"88e163b4-394f-3426-fb8d-e3f76702f901"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"labels":[],"funnels":[{"identifier":"f38307b7-b77e-3948-b41a-65d4311a8442","instanceIdentifier":"103e0a79-6767-3911-2eb4-45b965c1e17a","position":{"x":-176.0,"y":232.0},"componentType":"FUNNEL","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"},{"identifier":"0a700105-b8e7-3b3e-a19e-3bd47e166629","instanceIdentifier":"88e163b4-394f-3426-fb8d-e3f76702f901","position":{"x":-344.0,"y":-288.0},"componentType":"FUNNEL","groupIdentifier":"10880d17-8fbf-3adf-809f-c24eae513b2d"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"},{"identifier":"1d0dc580-8270-3ff6-b835-dc1881766dfb","instanceIdentifier":"e2b2577a-0191-1000-de45-5b3172e1cb2a","name":"ParseDocuments","comments":"","position":{"x":464.0,"y":376.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"dc88601d-8de4-31fc-ade6-4fb2bc2b6dac","instanceIdentifier":"e2b48940-0191-1000-fd32-ea0efa90277e","name":"ParseDocument","comments":"","position":{"x":-200.0,"y":32.0},"type":"python.ParseDocument","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0.dev0"},"properties":{"Element Strategy":"Document Per Element","PDF Parsing Strategy":"Automatic","Input Format":"PDF","Include Page Breaks":"false","Metadata Fields":"filename, uuid","Languages":"Eng","Infer Table Structure":"false","PDF Parsing Model":"yolox","Include Extracted Metadata":"true"},"propertyDescriptors":{"Element Strategy":{"name":"Element Strategy","displayName":"Element Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"PDF Parsing Strategy":{"name":"PDF Parsing Strategy","displayName":"PDF Parsing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Input Format":{"name":"Input Format","displayName":"Input Format","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Include Page Breaks":{"name":"Include Page Breaks","displayName":"Include Page Breaks","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Metadata Fields":{"name":"Metadata Fields","displayName":"Metadata Fields","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Languages":{"name":"Languages","displayName":"Languages","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Infer Table Structure":{"name":"Infer Table Structure","displayName":"Infer Table Structure","identifiesControllerService":false,"sensitive":false,"dynamic":true},"PDF Parsing Model":{"name":"PDF Parsing Model","displayName":"PDF Parsing Model","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Include Extracted Metadata":{"name":"Include Extracted Metadata","displayName":"Include Extracted Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d0dc580-8270-3ff6-b835-dc1881766dfb"},{"identifier":"d407e557-aebf-3647-9a42-0644d71f6b4d","instanceIdentifier":"e2ff4823-0191-1000-d846-bba76c3641a9","name":"GetFile","comments":"","position":{"x":-200.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d0dc580-8270-3ff6-b835-dc1881766dfb"}],"inputPorts":[],"outputPorts":[{"identifier":"a7ecd2ad-18b2-3d8c-88c9-d37b956daff8","instanceIdentifier":"e311ed03-0191-1000-7ae5-7d9da01d710d","name":"Sucess","position":{"x":408.0,"y":64.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"1d0dc580-8270-3ff6-b835-dc1881766dfb"}],"connections":[{"identifier":"d782f146-b6d6-34ca-b9b2-8d6f9f577c16","instanceIdentifier":"e31267fd-0191-1000-3b07-7f47b1a95d2b","name":"","source":{"id":"dc88601d-8de4-31fc-ade6-4fb2bc2b6dac","type":"PROCESSOR","groupId":"1d0dc580-8270-3ff6-b835-dc1881766dfb","name":"ParseDocument","comments":"","instanceIdentifier":"e2b48940-0191-1000-fd32-ea0efa90277e"},"destination":{"id":"7eabbb03-94d1-3395-9893-18f14cce66b2","type":"FUNNEL","groupId":"1d0dc580-8270-3ff6-b835-dc1881766dfb","name":"Funnel","comments":"","instanceIdentifier":"e3124b7c-0191-1000-8083-9fbc93fca08a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d0dc580-8270-3ff6-b835-dc1881766dfb"},{"identifier":"17cac85f-b726-3a00-8ff5-d0c56ec79d04","instanceIdentifier":"e2ff798a-0191-1000-8e2c-65649e246a54","name":"","source":{"id":"d407e557-aebf-3647-9a42-0644d71f6b4d","type":"PROCESSOR","groupId":"1d0dc580-8270-3ff6-b835-dc1881766dfb","name":"GetFile","comments":"","instanceIdentifier":"e2ff4823-0191-1000-d846-bba76c3641a9"},"destination":{"id":"dc88601d-8de4-31fc-ade6-4fb2bc2b6dac","type":"PROCESSOR","groupId":"1d0dc580-8270-3ff6-b835-dc1881766dfb","name":"ParseDocument","comments":"","instanceIdentifier":"e2b48940-0191-1000-fd32-ea0efa90277e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d0dc580-8270-3ff6-b835-dc1881766dfb"},{"identifier":"285a8fdf-9699-35f4-83f2-4a877d916815","instanceIdentifier":"e31216f9-0191-1000-2c04-93fa428c3d07","name":"","source":{"id":"dc88601d-8de4-31fc-ade6-4fb2bc2b6dac","type":"PROCESSOR","groupId":"1d0dc580-8270-3ff6-b835-dc1881766dfb","name":"ParseDocument","comments":"","instanceIdentifier":"e2b48940-0191-1000-fd32-ea0efa90277e"},"destination":{"id":"a7ecd2ad-18b2-3d8c-88c9-d37b956daff8","type":"OUTPUT_PORT","groupId":"1d0dc580-8270-3ff6-b835-dc1881766dfb","name":"Sucess","instanceIdentifier":"e311ed03-0191-1000-7ae5-7d9da01d710d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d0dc580-8270-3ff6-b835-dc1881766dfb"}],"labels":[],"funnels":[{"identifier":"7eabbb03-94d1-3395-9893-18f14cce66b2","instanceIdentifier":"e3124b7c-0191-1000-8083-9fbc93fca08a","position":{"x":-496.0,"y":56.0},"componentType":"FUNNEL","groupIdentifier":"1d0dc580-8270-3ff6-b835-dc1881766dfb"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"},{"identifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","instanceIdentifier":"a61e3176-2dc1-368f-b7ce-84f178a765a3","name":"Orthlane_Chatbot_Web_Service","comments":"","position":{"x":1432.0,"y":-104.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"086e6908-41bc-3e79-8b3a-18e25577d896","instanceIdentifier":"6031422b-761c-34b9-ecb2-791b7398affe","name":"GetPostRequestFromStreamlit","comments":"","position":{"x":-1008.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":"question","Allow POST":"true","Hostname":"localhost","Default URL Character Set":"UTF-8","Allow DELETE":"true","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"8acfc6ad-c9c5-390b-ba93-39999840789e","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":"/orthlanechatbot","Allow GET":"true","Allow HEAD":"false","Listening Port":"9698","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"1e79230e-0d12-351a-8ef3-f2022d93e3f8","instanceIdentifier":"3730c4a6-1847-314b-c715-a567d049ddf7","name":"Extract Question And History","comments":"","position":{"x":-1008.0,"y":-336.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Destination":"flowfile-attribute","question":"$.question","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","chat_history":"$.chat_history","Path Not Found Behavior":"warn"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"question":{"name":"question","displayName":"question","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"chat_history":{"name":"chat_history","displayName":"chat_history","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"21f0d450-2880-3a93-8472-9be7e1a30ff2","instanceIdentifier":"6a1bb8b1-f6dc-3ed1-5b0f-4aeb4fdb91f3","name":"GetChatResponseOpenAILLM","comments":"","position":{"x":-416.0,"y":-336.0},"type":"python.GetChatResponseOpenAILLM","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"LLM temperature":"0.0","question":"${question}","User Name":"Anas","AzureOpenAI Embedding Model name":"ttext-embedding-ada-002","Number of Similar Documents to Return":"10","Index Name":"orthlane-index","chat_history":"${chat_history}","OpenAI LLM Model":"gpt-4o"},"propertyDescriptors":{"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"LLM temperature":{"name":"LLM temperature","displayName":"LLM temperature","identifiesControllerService":false,"sensitive":false,"dynamic":false},"question":{"name":"question","displayName":"question","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User Name":{"name":"User Name","displayName":"User Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI Embedding Model name":{"name":"AzureOpenAI Embedding Model name","displayName":"AzureOpenAI Embedding Model name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI version":{"name":"AzureOpenAI version","displayName":"AzureOpenAI version","identifiesControllerService":false,"sensitive":true,"dynamic":false},"chat_history":{"name":"chat_history","displayName":"chat_history","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI LLM Model":{"name":"OpenAI LLM Model","displayName":"OpenAI LLM Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI Embedding Model API Key":{"name":"AzureOpenAI Embedding Model API Key","displayName":"AzureOpenAI Embedding Model API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"AzureOpenAI endpoint":{"name":"AzureOpenAI endpoint","displayName":"AzureOpenAI endpoint","identifiesControllerService":false,"sensitive":true,"dynamic":false},"AzureOpenAI API Key":{"name":"AzureOpenAI API Key","displayName":"AzureOpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Number of Similar Documents to Return":{"name":"Number of Similar Documents to Return","displayName":"Number of Similar Documents to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"524b0360-9643-36d7-8b09-2685508c10e3","instanceIdentifier":"e08c53aa-8ac6-3793-4802-97b2087be20a","name":"SendResponseToStreamlit","comments":"","position":{"x":-416.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"8acfc6ad-c9c5-390b-ba93-39999840789e","Content-type":"application/json","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content-type":{"name":"Content-type","displayName":"Content-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"inputPorts":[],"outputPorts":[{"identifier":"8680a238-9fd6-3213-9179-4ff559948c73","instanceIdentifier":"6de5ddc7-d605-3a48-e71d-ddfd304a9e06","name":"Send","position":{"x":-752.0,"y":-664.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"connections":[{"identifier":"7e1ae3fe-9b00-3bf8-9661-04e7538011a7","instanceIdentifier":"188a5564-c9c0-38b5-00b6-6e67121d1ac0","name":"","source":{"id":"21f0d450-2880-3a93-8472-9be7e1a30ff2","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"GetChatResponseOpenAILLM","comments":"","instanceIdentifier":"6a1bb8b1-f6dc-3ed1-5b0f-4aeb4fdb91f3"},"destination":{"id":"7ce4acdf-e441-3dc4-bbe3-842befb31e86","type":"FUNNEL","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Funnel","comments":"","instanceIdentifier":"a3f1ee09-837a-3a6c-bce8-cdf97b2bcda5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"61818b36-6d8d-3fc5-9bab-62117315359d","instanceIdentifier":"b8ce80ae-4274-3269-5b79-f6de7b5dd65a","name":"","source":{"id":"524b0360-9643-36d7-8b09-2685508c10e3","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"SendResponseToStreamlit","comments":"","instanceIdentifier":"e08c53aa-8ac6-3793-4802-97b2087be20a"},"destination":{"id":"8680a238-9fd6-3213-9179-4ff559948c73","type":"OUTPUT_PORT","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Send","instanceIdentifier":"6de5ddc7-d605-3a48-e71d-ddfd304a9e06"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"9cdfdb29-07a9-3cbe-a0c1-2263b7f67b06","instanceIdentifier":"7acbd3f9-191a-3a1e-ce9b-859cd526224d","name":"","source":{"id":"086e6908-41bc-3e79-8b3a-18e25577d896","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"GetPostRequestFromStreamlit","comments":"","instanceIdentifier":"6031422b-761c-34b9-ecb2-791b7398affe"},"destination":{"id":"1e79230e-0d12-351a-8ef3-f2022d93e3f8","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Extract Question And History","comments":"","instanceIdentifier":"3730c4a6-1847-314b-c715-a567d049ddf7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"b327c387-1eb2-34a1-8900-73025cb47fdc","instanceIdentifier":"d6927320-9da1-302d-29ab-af4cd4285958","name":"","source":{"id":"1e79230e-0d12-351a-8ef3-f2022d93e3f8","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Extract Question And History","comments":"","instanceIdentifier":"3730c4a6-1847-314b-c715-a567d049ddf7"},"destination":{"id":"21f0d450-2880-3a93-8472-9be7e1a30ff2","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"GetChatResponseOpenAILLM","comments":"","instanceIdentifier":"6a1bb8b1-f6dc-3ed1-5b0f-4aeb4fdb91f3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"3337c795-bfbf-39e2-b132-cc2f7ccc651b","instanceIdentifier":"cca75193-9add-3a85-e5f1-9fc5a67ff97d","name":"","source":{"id":"524b0360-9643-36d7-8b09-2685508c10e3","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"SendResponseToStreamlit","comments":"","instanceIdentifier":"e08c53aa-8ac6-3793-4802-97b2087be20a"},"destination":{"id":"2a306b19-71bb-309a-859b-e5bb18ac95ea","type":"FUNNEL","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Funnel","comments":"","instanceIdentifier":"f112af49-8443-370a-52ff-8b3523617da2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"64cbf50f-5351-3cbb-af05-59164990b65f","instanceIdentifier":"f263e755-3747-3526-1c8a-ec702ab8078f","name":"","source":{"id":"21f0d450-2880-3a93-8472-9be7e1a30ff2","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"GetChatResponseOpenAILLM","comments":"","instanceIdentifier":"6a1bb8b1-f6dc-3ed1-5b0f-4aeb4fdb91f3"},"destination":{"id":"524b0360-9643-36d7-8b09-2685508c10e3","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"SendResponseToStreamlit","comments":"","instanceIdentifier":"e08c53aa-8ac6-3793-4802-97b2087be20a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"labels":[],"funnels":[{"identifier":"2a306b19-71bb-309a-859b-e5bb18ac95ea","instanceIdentifier":"f112af49-8443-370a-52ff-8b3523617da2","position":{"x":-264.0,"y":-648.0},"componentType":"FUNNEL","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"7ce4acdf-e441-3dc4-bbe3-842befb31e86","instanceIdentifier":"a3f1ee09-837a-3a6c-bce8-cdf97b2bcda5","position":{"x":-264.0,"y":-96.0},"componentType":"FUNNEL","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"controllerServices":[{"identifier":"8acfc6ad-c9c5-390b-ba93-39999840789e","instanceIdentifier":"d25e84b4-6582-3c43-5446-99587522fd1a","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.0.0-M4"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"},{"identifier":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8","instanceIdentifier":"e2aa1c11-0191-1000-9703-efdc887c66a1","name":"WebScrapping","comments":"","position":{"x":464.0,"y":-136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6ebe976e-c40d-3226-9fb4-95af8f7ade84","instanceIdentifier":"e2aa2bfa-0191-1000-fb34-4ea5cd798294","name":"Trigger SpiderCloud","comments":"","position":{"x":-280.0,"y":-248.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10080 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8"},{"identifier":"86d3834f-ad1b-32a2-b975-4be8a42a0f5c","instanceIdentifier":"e2aa5f88-0191-1000-5317-e1e6eeeedabb","name":"SpiderCloudCrawler","comments":"","position":{"x":-280.0,"y":-8.0},"type":"python.SpiderCloudCrawler","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0.dev0"},"properties":{"Return Format":"markdown","API Key":"sk-cdf9c70c-277d-4499-952e-53d078ddba89","Crawl Depth":"3","Limit":"100","URL":"https://orthlane.com/"},"propertyDescriptors":{"Return Format":{"name":"Return Format","displayName":"Return Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"API Key":{"name":"API Key","displayName":"API Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Crawl Depth":{"name":"Crawl Depth","displayName":"Crawl Depth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Limit":{"name":"Limit","displayName":"Limit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8"}],"inputPorts":[],"outputPorts":[{"identifier":"65a514dd-9517-3b68-a88f-0eeb7bbaa9a2","instanceIdentifier":"e2ab3639-0191-1000-6587-0df27e14c579","name":"Sucess","position":{"x":312.0,"y":32.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8"}],"connections":[{"identifier":"6892c7bb-c984-3dc5-8d4c-4bed17ea9288","instanceIdentifier":"e2ab5444-0191-1000-75f7-0b3d120ff5fc","name":"","source":{"id":"86d3834f-ad1b-32a2-b975-4be8a42a0f5c","type":"PROCESSOR","groupId":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8","name":"SpiderCloudCrawler","comments":"","instanceIdentifier":"e2aa5f88-0191-1000-5317-e1e6eeeedabb"},"destination":{"id":"65a514dd-9517-3b68-a88f-0eeb7bbaa9a2","type":"OUTPUT_PORT","groupId":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8","name":"Sucess","instanceIdentifier":"e2ab3639-0191-1000-6587-0df27e14c579"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8"},{"identifier":"e9b05ef1-dd18-3b14-a5f2-920cc23474bb","instanceIdentifier":"e2aa845e-0191-1000-847b-ba00255c779f","name":"","source":{"id":"6ebe976e-c40d-3226-9fb4-95af8f7ade84","type":"PROCESSOR","groupId":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8","name":"Trigger SpiderCloud","comments":"","instanceIdentifier":"e2aa2bfa-0191-1000-fb34-4ea5cd798294"},"destination":{"id":"86d3834f-ad1b-32a2-b975-4be8a42a0f5c","type":"PROCESSOR","groupId":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8","name":"SpiderCloudCrawler","comments":"","instanceIdentifier":"e2aa5f88-0191-1000-5317-e1e6eeeedabb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8"},{"identifier":"370170dc-4930-3411-82cf-9acdf8762d97","instanceIdentifier":"e2aaebda-0191-1000-f6a5-4cc0430662e5","name":"","source":{"id":"86d3834f-ad1b-32a2-b975-4be8a42a0f5c","type":"PROCESSOR","groupId":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8","name":"SpiderCloudCrawler","comments":"","instanceIdentifier":"e2aa5f88-0191-1000-5317-e1e6eeeedabb"},"destination":{"id":"77d22a7f-2ad0-3013-82c5-eff65651a107","type":"FUNNEL","groupId":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8","name":"Funnel","comments":"","instanceIdentifier":"e2aad7c2-0191-1000-e27c-cf4bbdeb9c24"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8"}],"labels":[],"funnels":[{"identifier":"77d22a7f-2ad0-3013-82c5-eff65651a107","instanceIdentifier":"e2aad7c2-0191-1000-e27c-cf4bbdeb9c24","position":{"x":-576.0,"y":32.0},"componentType":"FUNNEL","groupIdentifier":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[{"identifier":"df279668-f263-3a92-aadb-4f2595175481","instanceIdentifier":"5e9d08fa-e225-3dcb-9581-618bd721c096","name":"Sucess Respond","position":{"x":1504.0,"y":144.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"},{"identifier":"b44f226d-dbd6-3c5f-8fa5-b3bf7554fdda","instanceIdentifier":"783d9781-d9fa-331b-4089-0eff15d53fa7","name":"output","position":{"x":1104.0,"y":168.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"}],"connections":[{"identifier":"aa9827b6-6320-318f-ac32-dbe4d6337744","instanceIdentifier":"adbe3f68-a1c5-3afc-f7e8-3ba3819baff2","name":"","source":{"id":"8680a238-9fd6-3213-9179-4ff559948c73","type":"OUTPUT_PORT","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Send","instanceIdentifier":"6de5ddc7-d605-3a48-e71d-ddfd304a9e06"},"destination":{"id":"df279668-f263-3a92-aadb-4f2595175481","type":"OUTPUT_PORT","groupId":"c16e4897-47a0-34bc-8818-dcacb783410b","name":"Sucess Respond","instanceIdentifier":"5e9d08fa-e225-3dcb-9581-618bd721c096"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"},{"identifier":"101c7e16-d8ec-3dcf-88f5-0b7bc45d6285","instanceIdentifier":"e312cfb2-0191-1000-40c9-519bab6f653a","name":"","source":{"id":"a7ecd2ad-18b2-3d8c-88c9-d37b956daff8","type":"OUTPUT_PORT","groupId":"1d0dc580-8270-3ff6-b835-dc1881766dfb","name":"Sucess","instanceIdentifier":"e311ed03-0191-1000-7ae5-7d9da01d710d"},"destination":{"id":"6a9dbba3-56d1-333e-9fc0-c287be173a60","type":"INPUT_PORT","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Start From Documents","instanceIdentifier":"e2af4e6a-0191-1000-8e6a-6745ee73019b"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"},{"identifier":"8ac14f6b-b710-3c72-a32d-39d9d9e349d9","instanceIdentifier":"9416a61c-8682-34c5-0791-5d73c76fa7d3","name":"","source":{"id":"76e220d4-e828-30b1-97d6-077695b9356c","type":"OUTPUT_PORT","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"PineconeStore","instanceIdentifier":"5084fc17-3f98-33e7-7ed2-84b73b10d045"},"destination":{"id":"b44f226d-dbd6-3c5f-8fa5-b3bf7554fdda","type":"OUTPUT_PORT","groupId":"c16e4897-47a0-34bc-8818-dcacb783410b","name":"output","instanceIdentifier":"783d9781-d9fa-331b-4089-0eff15d53fa7"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"},{"identifier":"cfc35548-03c1-38ef-9feb-43170dbc6284","instanceIdentifier":"e2b195d2-0191-1000-24cf-6c6ac905bbd7","name":"","source":{"id":"65a514dd-9517-3b68-a88f-0eeb7bbaa9a2","type":"OUTPUT_PORT","groupId":"a4fa2809-8d0b-39a1-a354-42d3b86a02d8","name":"Sucess","instanceIdentifier":"e2ab3639-0191-1000-6587-0df27e14c579"},"destination":{"id":"e7284acb-793d-37b2-b2ec-c0ddc7e74741","type":"INPUT_PORT","groupId":"10880d17-8fbf-3adf-809f-c24eae513b2d","name":"Start From Website","instanceIdentifier":"e2ad24a2-0191-1000-6585-d3e231fb2c89"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c16e4897-47a0-34bc-8818-dcacb783410b"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}