nifi-flow/Orthlane_Chatbot_Web_Service.json
{"flowContents":{"identifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","instanceIdentifier":"24bc6ce5-0191-1000-b1d6-3256198a47b8","name":"Orthlane_Chatbot_Web_Service","comments":"","position":{"x":896.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"086e6908-41bc-3e79-8b3a-18e25577d896","instanceIdentifier":"61b02059-0191-1000-e2b1-a3ebd9417d33","name":"GetPostRequestFromStreamlit","comments":"","position":{"x":-696.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":"question","Allow POST":"true","Hostname":"localhost","Default URL Character Set":"UTF-8","Allow DELETE":"true","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"8acfc6ad-c9c5-390b-ba93-39999840789e","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":"/orthlanechatbot","Allow GET":"true","Allow HEAD":"false","Listening Port":"9698","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"1e79230e-0d12-351a-8ef3-f2022d93e3f8","instanceIdentifier":"7a60637d-0191-1000-f5ad-bba852c1def3","name":"Extract Question And History","comments":"","position":{"x":-696.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Destination":"flowfile-attribute","question":"$.question","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","chat_history":"$.chat_history","Path Not Found Behavior":"warn"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"question":{"name":"question","displayName":"question","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"chat_history":{"name":"chat_history","displayName":"chat_history","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"21f0d450-2880-3a93-8472-9be7e1a30ff2","instanceIdentifier":"79628db6-0191-1000-014a-548052961ac9","name":"GetChatResponseOpenAILLM","comments":"","position":{"x":-104.0,"y":-40.0},"type":"python.GetChatResponseOpenAILLM","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"LLM temperature":"0.0","question":"${question}","User Name":"Anas","AzureOpenAI Embedding Model name":"ttext-embedding-ada-002","Number of Similar Documents to Return":"10","Index Name":"orthlane-index","chat_history":"${chat_history}","OpenAI LLM Model":"gpt-4o"},"propertyDescriptors":{"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"LLM temperature":{"name":"LLM temperature","displayName":"LLM temperature","identifiesControllerService":false,"sensitive":false,"dynamic":false},"question":{"name":"question","displayName":"question","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User Name":{"name":"User Name","displayName":"User Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI Embedding Model name":{"name":"AzureOpenAI Embedding Model name","displayName":"AzureOpenAI Embedding Model name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI version":{"name":"AzureOpenAI version","displayName":"AzureOpenAI version","identifiesControllerService":false,"sensitive":true,"dynamic":false},"chat_history":{"name":"chat_history","displayName":"chat_history","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI LLM Model":{"name":"OpenAI LLM Model","displayName":"OpenAI LLM Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AzureOpenAI Embedding Model API Key":{"name":"AzureOpenAI Embedding Model API Key","displayName":"AzureOpenAI Embedding Model API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"AzureOpenAI endpoint":{"name":"AzureOpenAI endpoint","displayName":"AzureOpenAI endpoint","identifiesControllerService":false,"sensitive":true,"dynamic":false},"AzureOpenAI API Key":{"name":"AzureOpenAI API Key","displayName":"AzureOpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Number of Similar Documents to Return":{"name":"Number of Similar Documents to Return","displayName":"Number of Similar Documents to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"524b0360-9643-36d7-8b09-2685508c10e3","instanceIdentifier":"65d8b0b4-0191-1000-5122-5ccd0b02848c","name":"SendResponseToStreamlit","comments":"","position":{"x":192.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"8acfc6ad-c9c5-390b-ba93-39999840789e","Content-type":"application/json","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content-type":{"name":"Content-type","displayName":"Content-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"inputPorts":[],"outputPorts":[{"identifier":"8680a238-9fd6-3213-9179-4ff559948c73","instanceIdentifier":"7a68f5a4-0191-1000-c3d1-e565386bf5c7","name":"Send","position":{"x":736.0,"y":-120.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"connections":[{"identifier":"7e1ae3fe-9b00-3bf8-9661-04e7538011a7","instanceIdentifier":"7a6aceff-0191-1000-2570-0a365d15c9d3","name":"","source":{"id":"21f0d450-2880-3a93-8472-9be7e1a30ff2","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"GetChatResponseOpenAILLM","comments":"","instanceIdentifier":"79628db6-0191-1000-014a-548052961ac9"},"destination":{"id":"7ce4acdf-e441-3dc4-bbe3-842befb31e86","type":"FUNNEL","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Funnel","comments":"","instanceIdentifier":"65d8da47-0191-1000-e26f-3d668cb1fd93"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"61818b36-6d8d-3fc5-9bab-62117315359d","instanceIdentifier":"7a690c29-0191-1000-24f4-9deba962cf6d","name":"","source":{"id":"524b0360-9643-36d7-8b09-2685508c10e3","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"SendResponseToStreamlit","comments":"","instanceIdentifier":"65d8b0b4-0191-1000-5122-5ccd0b02848c"},"destination":{"id":"8680a238-9fd6-3213-9179-4ff559948c73","type":"OUTPUT_PORT","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Send","instanceIdentifier":"7a68f5a4-0191-1000-c3d1-e565386bf5c7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"9cdfdb29-07a9-3cbe-a0c1-2263b7f67b06","instanceIdentifier":"7a6a6d4f-0191-1000-f621-0ebd7b7b808c","name":"","source":{"id":"086e6908-41bc-3e79-8b3a-18e25577d896","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"GetPostRequestFromStreamlit","comments":"","instanceIdentifier":"61b02059-0191-1000-e2b1-a3ebd9417d33"},"destination":{"id":"1e79230e-0d12-351a-8ef3-f2022d93e3f8","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Extract Question And History","comments":"","instanceIdentifier":"7a60637d-0191-1000-f5ad-bba852c1def3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"b327c387-1eb2-34a1-8900-73025cb47fdc","instanceIdentifier":"7a6a9e03-0191-1000-ef94-cb88caaed231","name":"","source":{"id":"1e79230e-0d12-351a-8ef3-f2022d93e3f8","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Extract Question And History","comments":"","instanceIdentifier":"7a60637d-0191-1000-f5ad-bba852c1def3"},"destination":{"id":"21f0d450-2880-3a93-8472-9be7e1a30ff2","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"GetChatResponseOpenAILLM","comments":"","instanceIdentifier":"79628db6-0191-1000-014a-548052961ac9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"64cbf50f-5351-3cbb-af05-59164990b65f","instanceIdentifier":"7a687e73-0191-1000-2d89-b9cad17f13b8","name":"","source":{"id":"21f0d450-2880-3a93-8472-9be7e1a30ff2","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"GetChatResponseOpenAILLM","comments":"","instanceIdentifier":"79628db6-0191-1000-014a-548052961ac9"},"destination":{"id":"524b0360-9643-36d7-8b09-2685508c10e3","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"SendResponseToStreamlit","comments":"","instanceIdentifier":"65d8b0b4-0191-1000-5122-5ccd0b02848c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"3337c795-bfbf-39e2-b132-cc2f7ccc651b","instanceIdentifier":"65dc9681-0191-1000-fe66-8946dc16028a","name":"","source":{"id":"524b0360-9643-36d7-8b09-2685508c10e3","type":"PROCESSOR","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"SendResponseToStreamlit","comments":"","instanceIdentifier":"65d8b0b4-0191-1000-5122-5ccd0b02848c"},"destination":{"id":"2a306b19-71bb-309a-859b-e5bb18ac95ea","type":"FUNNEL","groupId":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db","name":"Funnel","comments":"","instanceIdentifier":"65dc8793-0191-1000-d5fa-ed48982e0cd3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"labels":[],"funnels":[{"identifier":"2a306b19-71bb-309a-859b-e5bb18ac95ea","instanceIdentifier":"65dc8793-0191-1000-d5fa-ed48982e0cd3","position":{"x":760.0,"y":-424.0},"componentType":"FUNNEL","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"},{"identifier":"7ce4acdf-e441-3dc4-bbe3-842befb31e86","instanceIdentifier":"65d8da47-0191-1000-e26f-3d668cb1fd93","position":{"x":48.0,"y":200.0},"componentType":"FUNNEL","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"controllerServices":[{"identifier":"8acfc6ad-c9c5-390b-ba93-39999840789e","instanceIdentifier":"24c0074d-0191-1000-889c-71bbaf239c69","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.0.0-M4"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3bfe57ee-f7ff-32f6-bd1f-fbfe4b3584db"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}